<div class="top" [ngClass]="headerPosition">
  <div *ngIf="headerPosition !== 'header--fixed'" class="mensaje" [ngClass]="{'mensaje__activo': config.stickyHeaderActivo}">
    <div class="container" [ngClass]="{'mobileColumn' : !config.stickyHeaderMarquee}">
        <div *ngIf="config.stickyHeaderMarquee" class="marquee">
          <p>{{config.stickyHeaderTitulo}}</p>
        </div>
        <p *ngIf="!config.stickyHeaderMarquee">{{config.stickyHeaderTitulo}}</p>
        <a class="actionButton" href={{config.stickyHeaderLink}} target="_blank" rel="noopener noreferrer">{{config.stickyHeaderCta}}</a>
        <i (click)="config.stickyHeaderActivo = false" class="fa fa-times-circle"></i>
    </div>
  </div>
  <div class="container">
    <nav class="navbar header__top" [ngClass]="SearchFocus">
        <div class="col-xs-2 col-md-2" style="max-width: 186px;">
          <div class="menu" [ngClass]="SideStateIcon">
            <i (click)="toggleMenu()" class="fa fa-bars" aria-hidden="true"></i>          
          </div>    
          <a class="navbar-brand" [routerLink]="['/']">
            <img [ngClass]="'lazyload'" data-src="./assets/images/header/logo_azul.png" alt="Sina" height="34">
            <img [ngClass]="'lazyload'" data-src="./assets/images/header/logo_mobile_azul.png" alt="Sina" height="40">
          </a>
        </div>    
        <div class="col-xs-8 col-md-6" style="max-width: auto;">
            <a class="logoMobile" [routerLink]="['/']">
              <img [ngClass]="'lazyload'" data-src="./assets/images/header/logo_azul.png" alt="Sina" height="34">
            </a>  
          <form class="buscador form-inline ">
            <div class="controles">
              <button style="display: none;" class="backButton" (click)="SearchFocus = ''">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
              </button>
              <!--(keyup)="buscarPalabra($event)" -->
              <input (focusout)="focusoutFunction()" (keydown)="enterBusqueda($event)" class="form-control" type="text" placeholder="Buscar" [(ngModel)]="texto_busqueda" name="texto_busqueda">
              <button class="btn btn-outline-sucess"  routerLink="/busqueda/{{texto_busqueda}}" (click)="cerrarBusqueda()">
                  <img [ngClass]="'lazyload'" data-src="./assets/images/header/buscador.png" alt="Sina" width="20">
              </button>
              <i class="fa fa-search" aria-hidden="true"></i>
              <div class="busqueda" *ngIf="ResultadoBusqueda?.length > 0">
                <ul>
                  <li *ngFor="let item of ResultadoBusqueda" (click)="clickBusqueda(item)">
                    <img class="busqueda__icono" [ngClass]="'lazyload'" [attr.data-src]="item.urlImagen" alt="">
                    <p class="busqueda__titulo">{{item.titulo}}</p>
                    <p class="busqueda__subtitulo">{{item.tituloAdicional}}</p>
                  </li>
                </ul>
              </div>                        
            </div>
          </form>    
        </div>
        <div #inputCantidadHeader class="col-md-4 col-xs-2 right__form" style="max-width: none;">
          <div class="login" (click)="toggle('cuenta')">
            <div [ngClass]="{'pulsating_blue': !UserLog}"></div>
            <img [ngClass]="'lazyload'" data-src="./assets/images/header/user__verde.png" alt="User" width="40">
            <p *ngIf="UserLog"> {{UserName || "Iniciar sesión"}} <br> <b>{{representado ? "Representado" : UserJob || "Registrarse"}} </b></p>
            <p  *ngIf="!UserLog"> {{"Iniciar sesión"}} <br> {{"Registrarse"}} </p>
            <div class="contPop">
              <div class="popup" *ngIf="popup.cuenta">
                <div class="popup__lista">
                  <ul class="list-group">
                    <li [routerLink]="['/cuenta']" [queryParams]="{tab: item.id}" *ngFor="let item of cuenta" class="list-group-item">
                      {{item.texto}}
                    </li>
                  </ul>          
                </div>
              </div>
            </div>
          </div>
          <div class="telefono">
            <div style="    
              cursor: pointer;
              background: #0083ff;
              border-radius: 25px;
              margin: 0px 5px;
              padding: 8px;" routerLink="contacto">
              <img [ngClass]="'lazyload'" data-src="./assets/images/header/phone.png" alt="telefono" width="24">
            </div>
          </div>
          <div class="whatsapp">
            <div style="    
              cursor: pointer;
              background: #0083ff;
              border-radius: 25px;
              padding: 8px;">
              <a target="_blank" rel="noopener noreferrer" href="https://wa.me/5491123145727?text=Hola">
                <img [ngClass]="'lazyload'" data-src="./assets/images/header/whatsapp.png" alt="whatsapp" width="24">
              </a>
            </div>
          </div>
          <div class="email">
            <div style="    
              cursor: pointer;
              background: #0083ff;
              border-radius: 25px;
              margin: 0px 5px;
              padding: 8px;">
              <a href="mailto:infoweb@sina.com.ar">
                <img [ngClass]="'lazyload'" data-src="./assets/images/header/email.png" alt="email" width="24">
              </a>
            </div>
          </div>
          <div class="buy" *ngIf="actualRoute.indexOf('compra') === -1">
            <div style="cursor: pointer" (click)="toggle('compra')">
              <span class="badge badge-default badge-pill">{{greetMessage?.length}}</span>              
              <img [ngClass]="'lazyload'" data-src="./assets/images/header/carrito.png" alt="Carrito" width="40">
            </div>
            <div class="contPop">
              <div class="popup" *ngIf="popup.compra">
                <div class="popup__header">
                  <b>ESTADO DE COMPRA</b>
                </div>
                <div style="text-align: center; padding-bottom: 15px;" *ngIf="listFilter(greetMessage)?.length === 0 || !listFilter(greetMessage)">
                  <h1 style="color: #057aff; font-size: 30px;">Tu carrito está vacío</h1>
                  <h4 style="margin:auto; width: 90%;">¡Esperamos que encuentres pronto lo que estas buscando!</h4>
                </div>
                <div class="popup__lista" *ngIf="listFilter(greetMessage)?.length !== 0">
                  <ul class="list-group">
                  <li *ngFor="let item of listFilter(greetMessage)" class="list-group-item justify-content-between">
                    {{item.descripcion}}
                    <p>${{updatePrecio(item.precio, item.cantidad)}}</p>                    
                    <input (input)="data.updateMessage()" [(ngModel)]="item.cantidad" type="number">
                    <div class="eliminar">
                      <img class="eliminar--initial" width="18" [ngClass]="'lazyload'" data-src="./assets/images/iconos/Eliminar-producto.png" (click)="removeMessage(item); item.comprado = false">
                      <img class="eliminar--hover" width="18"  [ngClass]="'lazyload'"data-src="./assets/images/iconos/Eliminar-producto-hover.png" (click)="removeMessage(item); item.comprado = false">
                    </div>
                  </li>
                  </ul>          
                </div>
                <div class="popup__mas" routerLink="/compra/carrito" (click)="toggle('compra')">
                  <p>Ver todos</p>
                </div>
              </div>
            </div>                
          </div>
          <div class="iconoBusqueda" (click)="SearchFocus = 'onSearchFocus'">
              <i style="
                  font-size: 20px;
                  padding: 14px;
                  padding-right: 0;
                  margin-right: -9px;
                "class="fa fa-search" aria-hidden="true"></i>
          </div>
        </div>
      </nav>
  </div>
</div>
<div class="header" [ngClass]="headerPosition" *ngIf="data.rutaActual.indexOf('compra/envio') === -1">
  <div *ngIf="headerPosition === 'header--fixed'" class="mensaje" [ngClass]="{'mensaje__activo': config.stickyHeaderActivo}">
    <div class="container" [ngClass]="{'mobileColumn' : !config.stickyHeaderMarquee}">
      <div *ngIf="config.stickyHeaderMarquee" class="marquee">
        <p>{{config.stickyHeaderTitulo}}</p>
      </div>
      <p *ngIf="!config.stickyHeaderMarquee">{{config.stickyHeaderTitulo}}</p>
        <a class="actionButton" href={{config.stickyHeaderLink}}>{{config.stickyHeaderCta}}</a>
        <i (click)="config.stickyHeaderActivo = false" class="fa fa-times-circle"></i>
    </div>
  </div>
    <div class="container" [ngClass]="SideState">
      <nav class="navbar navbar-fixed" [ngClass]="SearchFocus">
          <div class="col-xs-2" style="display: flex; align-items: center;">
            <div class="menu" [ngClass]="SideStateIcon">
              <i (click)="toggleMenu()" class="fa fa-bars" aria-hidden="true"></i>          
            </div>    
            <a class="navbar-brand" [routerLink]="['/']">
              <img [ngClass]="'lazyload'" data-src="./assets/images/header/logo.png" alt="Sina" width="140">
              <img [ngClass]="'lazyload'" data-src="./assets/images/header/icono_mobile_blanco.png" alt="Sina" height="34">              
            </a>
            <ul class="nav navbar-nav">
              <li *ngFor="let item of LinkList; let itemIndex = index" style="cursor: pointer;" class="nav-item" routerLink="{{'/' + MenuTitle}}" (mouseover)="changeStyle($event, itemIndex)" (mouseout)="changeStyle($event, itemIndex)">
                <a class="nav-link" (click)="changeStyleClick(itemIndex)">
                  <div class="cont">
                    <img height="30" [ngClass]="'lazyload'" [attr.data-src]="item.img1" alt="">
                    <img height="30" [ngClass]="'lazyload'" [attr.data-src]="item.img2" alt="">
                  </div>
                  <p class="iconoMenu">{{item.texto}}</p>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-xs-8 buscador__container">
            <a class="logoMobile" [routerLink]="['/']">
              <img [ngClass]="'lazyload'" data-src="./assets/images/header/logo.png" alt="Sina" height="34">
            </a>  
            <form class="buscador form-inline ">
              <div class="controles">
                <button style="display: none;" class="backButton" (click)="SearchFocus = ''">
                  <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </button>
                <!-- removing (keyup)="buscarPalabra($event)" -->
                <input  [(ngModel)]="texto_busqueda" (keydown)="enterBusqueda($event)"  name="texto_busqueda" (focus)="focusFunction()" (focusout)="focusoutFunction()" class="form-control" type="text" placeholder="Buscar">
                <button class="btn btn-outline-sucess" type="submit" routerLink="/busqueda/{{texto_busqueda}}" (click)="cerrarBusqueda()">
                    <img [ngClass]="'lazyload'" data-src="./assets/images/header/buscador.png" alt="Sina" width="20">
                </button>
                <i class="fa fa-search" aria-hidden="true"></i>                    
                <div class="busqueda" *ngIf="ResultadoBusqueda?.length > 0" style="
                  right: -185px;
                  width: calc(100vw);
                  max-width: 880px;
                  font-size: 13px;">
                  <ul>
                    <li *ngFor="let item of ResultadoBusqueda" (click)="clickBusqueda(item)">
                      <img class="busqueda__icono" [ngClass]="'lazyload'" [attr.data-src]="item.urlImagen" alt="">
                      <p class="busqueda__titulo">{{item.titulo}}</p>
                      <p class="busqueda__subtitulo">{{item.tituloAdicional}}</p>
                    </li>
                  </ul>
                </div>                                
              </div>
            </form>
          </div>   
          <div #inputCantidadHeaderVerde class="col-xs-2 col-md-3 right__form">
            <div class="login" (click)="toggle2('cuenta')">
              <div [ngClass]="{'pulsating_white': !UserLog}"></div>
              <img [ngClass]="'lazyload'" data-src="./assets/images/header/user__verde.png" alt="User" width="40">
              <p style="color: #fff" *ngIf="UserLog"> {{UserName || "Iniciar sesión"}} <br> {{UserJob || "Registrarse"}} </p>
              <p style="color: #fff" *ngIf="!UserLog"> {{"Iniciar sesión"}} <br> {{"Registrarse"}} </p>
              <div class="contPop">
                <div class="popup" *ngIf="popup2.cuenta">
                  <div class="popup__lista">
                    <ul class="list-group">
                      <li [routerLink]="['/cuenta']" [queryParams]="{tab: item.id}" *ngFor="let item of cuenta" class="list-group-item">
                        {{item.texto}}
                      </li>
                    </ul>          
                  </div>
                </div>  
              </div>
            </div>    
            <div class="buy" *ngIf="actualRoute.indexOf('compra') === -1">
              <div style="cursor: pointer" (click)="toggle2('compra')">
                <span class="badge badge-default badge-pill">{{greetMessage?.length}}</span>                              
                <img [ngClass]="'lazyload'" data-src="./assets/images/iconos/carrito--verde.png" alt="Carrito" width="40">
              </div>
              <div class="contPop">
                <div class="popup" *ngIf="popup2.compra">
                  <div class="popup__header">
                    <b>ESTADO DE COMPRA</b>
                  </div>
                  <div style="text-align: center; padding-bottom: 15px;" *ngIf="listFilter(greetMessage)?.length === 0 || !listFilter(greetMessage)">
                    <h1 style="color: #057aff; font-size: 30px;">Tu carrito está vacío</h1>
                    <h4 style="margin:auto; width: 90%;">¡Esperamos que encuentres pronto lo que estas buscando!</h4>
                  </div>
                  <div class="popup__lista" *ngIf="listFilter(greetMessage)?.length !== 0">
                    <ul class="list-group">
                    <li *ngFor="let item of listFilter(greetMessage)" [ngClass]="{'selected': true}" class="list-group-item justify-content-between">
                      {{item.descripcion}}
                      <p>${{updatePrecio(item.precio, item.cantidad)}}</p>
                      <input (input)="data.updateMessage()" [(ngModel)]="item.cantidad" type="number">
                      <div class="eliminar">
                        <img class="eliminar--initial" width="18" [ngClass]="'lazyload'" data-src="./assets/images/iconos/Eliminar-producto.png" (click)="removeMessage(item); item.comprado = false">
                        <img class="eliminar--hover" width="18" [ngClass]="'lazyload'" data-src="./assets/images/iconos/Eliminar-producto-hover.png" (click)="removeMessage(item); item.comprado = false">
                      </div>    
                    </li>
                    </ul>          
                  </div>
                  <div class="popup__mas" routerLink="/compra/carrito" (click)="toggle2('compra')">
                    <p>Ver todos</p>
                  </div>
                </div>
              </div>                  
            </div>
            <div class="iconoBusqueda" (click)="SearchFocus = 'onSearchFocus'">
                <i style="
                    font-size: 20px;
                    padding: 14px;
                    padding-right: 0;
                    margin-right: -9px;
                    color: #fff;
                  "class="fa fa-search" aria-hidden="true"></i>
            </div>
          </div>     
      </nav>
    </div>
  <div class="header__filter" [ngClass]="MenuClass">
    <div class="container" (mouseover)="changeStyleMenu($event, 0)" (mouseout)="changeStyleMenu($event, 0)">
      <!--img src="./assets/images/header/seccion/bazar.png" width="20"-->        
      <!--div class="row header__filter__top">
        <div class="col-md-9 col-xs-12">
          <div class="col-xs-12">
            <a (click)="itemClicked()" href="#" class="title">{{MenuTitle}}</a>
          </div>
        </div>
      </div-->
      <div class="row header__filter__return">
        <div class="col-md-9 col-xs-12">
          <div class="col-md-9 col-xs-12">
            <a (click)="MenuClass = ''" class="subtitle">Volver al menu</a>        
          </div>
        </div>
      </div>
      <div class="row header__filter__content">
        <div class="col-xs-12">
          <div class="col-xs-2 column" *ngFor="let section of MenuList">
            <div style="display: flex; align-items: center;">
              <a style="font-weight: bold;" routerLink="{{section.head?.link}}" class="title">{{section.head.texto}} </a>
            </div>
            <ul class="nav navbar-nav item" *ngIf="section.items.length">
              <li *ngFor="let item of section.items| slice:0:3" class="nav-item">
                <a class="nav-link" style="font-size: 12px;" routerLink="{{item.link}}" (click)="itemClicked()">{{item.texto}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="{{section.head?.link}}" (click)="itemClicked()">VER MÁS...</a>
              </li>
            </ul>            
          </div>
        </div>
      </div>
    </div>
  </div>    
</div>

<style>
  .hidden {
    display: none;
  }
</style>