<div class="containerPolitica">

  <div class="politica">
    <h1>Política de Privacidad</h1>
    <p>
      MESSINA HNOS SA, en adelante Sina® conoce su importante preocupación por la seguridad de su información 
      privada derivada del uso del Sitio Web. Consideramos con especial seriedad la protección de sus datos personales. 
      Por ello, es fundamental que mediante la presente política de privacidad, se le informe mediante las medidas 
      de seguridad de la empresa. Haciéndole saber que sus datos nunca serán utilizados para un fin ajeno al 
      que se haya definido.
    </p>
    <p>
      Esta política se aplica a todos los sitios y servicios de propiedad operados por Sina® o 
      sus Sitios Web vinculados de su propiedad. No se aplica a cualquier otro sitio a los que usted 
      pudiera acceder por otro links, u otro tipo de vínculo.
    </p>
    <p>
      Sina® se reserva el derecho de modificar la presente política para adaptarla a novedades legislativas y/o 
      jurisprudenciales, así como a prácticas de la industria. En dichos casos, serán anunciados en esta página 
      los cambios introducidos con antelación a su puesta en práctica. El permanente desarrollo de Internet requiere 
      ajustes ocasionales de nuestra declaración de privacidad. Atento a todo ello, Sina® se reserva el derecho de 
      hacer los cambios cuando sean necesarios y sin previo aviso.
    </p>

    <p><b>Recolección de datos</b></p>
    <p>
      Usted podrá utilizar nuestro sitio Web sin revelar sus datos personales. 
      El uso de nuestro sitio Web no requiere que brinde información personal, 
      excepto que la misma se requiera para suministrarle un producto o prestarle un 
      servicio que nos solicite. Cualquier dato almacenado relacionado con la seguridad, 
      será mantenido en anonimato de cada Usuario individual para que no se pueda 
      identificar a la persona. En los supuestos en que sus datos personales sean brindados a 
      terceros para suministrarle productos o prestarle servicios que nos haya solicitado, 
      o para otros fines para los que nos dio su consentimiento, usamos medios técnicos y 
      organizativos para garantizar el cumplimiento de la normativa aplicable relativa a la 
      seguridad de los datos. Sus datos serán incorporados a un fichero y serán usados con 
      la única finalidad de llevar a cabo la prestación de servicios o suministro de productos 
      requeridos como así también para realizar solamente tareas administrativas.
    </p>

    <p>
      Sina® ha adoptado políticas de seguridad de protección de la Información Personal, 
      y utiliza todos los medios técnicos a su alcance, para evitar cualquier pérdida, 
      mal uso, alteración, acceso no autorizado o hurto de la Información Personal. 
      No obstante, el Usuario reconoce que las medidas de seguridad en Internet no son inexpugnables. 
      Aún cuando la empresa realiza sus mayores esfuerzos en proteger su privacidad, no se puede garantizar 
      la seguridad de la información que usted suministre a través de comunicaciones on-line, 
      y por lo tanto corre por su cuenta el revelar esa información por esos medios.
    </p>

    <p><b>Recolección y tratamiento de datos personales</b></p>
    <p>
      Los datos personales solamente se recolectan cuando usted los brinda, al registrarse, 
      al completar formularios, correos electrónicos, como parte de un pedido de productos o servicios, 
      al formular una consulta, pregunta o solicitar información sobre productos requeridos o 
      en situaciones parecidas en las que haya elegido darnos esta información. 
      Solo usted autoriza y otorga su consentimiento expreso para el tratamiento de sus datos 
      personales para los fines expuestos. La base de datos permanece almacenada en procesadores 
      de datos o servidores. Sus datos personales no serán transferidos, salvo para suministrarle 
      productos o prestarle servicios o bien si hemos obtenido su consentimiento o cuando así lo exija la ley.
    </p>
  
    <p><b>Excepciones a la Reserva de Información Personal</b></p>
    <p>
      La Información Personal y/o cualquier otro tipo de información específica sobre los Usuarios a la que accedemos, 
      podrá revelarse a terceros a efectos de obligaciones legales, tales como una orden de allanamiento, 
      citación judicial, orden judicial, o bien a requerimiento de autoridades administrativas competentes. 
      Serán los únicos supuestos de excepción al compromiso de reserva de toda Información Personal.
    </p>
    
    <p><b>Derecho de acceso, rectificación y supresión</b></p>
    <p>
      Usted tiene derecho a revisar y corregir los datos personales almacenados en nuestras bases de 
      datos en caso de que crea que están desactualizados o son incorrectos. A tales fines, usted podrá 
      dirigirnos una notificación fehaciente (carta documento) a la dirección de la empresa, cuyo 
      domicilio data al pie de la presente y requerir la actualización, modificación o eliminación de 
      los datos que crea erróneamente registrados. El titular de los datos personales tiene la facultad 
      de ejercer el derecho de acceso a los mismos en forma gratuita a intervalos no inferiores a seis meses, 
      salvo que se acredite un interés legítimo al efecto, conforme lo establecido en el artículo 14, 
      inciso 3 de la Ley N° 25.326. La Dirección Nacional de Protección de Datos Personales, 
      órgano de control de la Ley Nacional N° 25.326, tiene la atribución de atender las denuncias y 
      reclamos que se interpongan con relación al incumplimiento de las normas sobre protección de datos personales.
    </p>
    
    <p><b>Derecho de Cancelación</b></p>
    <p>
      Usted tiene derecho a retirar su consentimiento a la utilización de sus datos personales en lo sucesivo, 
      en cualquier momento, puede requerir su derecho de acceder, rectificar, cancelar y oponerse al 
      tratamiento de los datos personales que obren en poder de Sina®, mediante solicitud por escrito 
      (carta documento) dirigida a la empresa, indicando "Protección de Datos" y acreditando identidad 
      de conformidad con lo dispuesto en la legislación vigente.
    </p>
    
    <p><b>Retención de Datos</b></p>
    <p>
      Únicamente retenemos datos personales durante el tiempo necesario para prestarle un servicio 
      que nos solicito o por el cual nos dio su autorización durante el tiempo pertinente para la 
      finalidad por la cual fueron recabados, salvo disposición en contrario por ley 
      (por ejemplo respecto a un litigio pendiente).
    </p>
    
    <p><b>Cookies</b></p>
    <p>
      Las cookies son pequeños archivos de texto, ficheros de datos, que se almacenan en el navegador 
      del usuario del Sitio Web (cache) para agilizar la navegación y garantizar la operatividad de 
      algunas de nuestras aplicaciones. Dichas cookies posibilitan reconocer su navegador con la 
      finalidad de optimizar el sitio Web y simplificar su uso. Jamás los datos recogidos vía cookies 
      serán usados con la finalidad de determinar la identidad del usuario del Sitio Web. En caso de no 
      desear el Usuario dar a conocer este tipo de información, programe su browser para rechazar Cookies, 
      o para avisar cuando un sitio intenta enviarle Cookies. Sin embargo, se debe tener en cuenta que 
      algunos servicios pueden no funcionar correctamente o impedir el buen funcionamiento de la Web en 
      ciertos casos. La Información No Especifica, solo se utiliza por la empresa de nuestros Sitios, 
      a fin de conocer cuáles son las áreas preferidas de nuestra página y sitios, que tecnología se está 
      usando, etcétera y mejorar constantemente para un mayor servicio para nuestros clientes. Eventualmente, 
      podemos revelar información de tipo estadístico, pero en ningún caso compartimos Información Personal.
    </p>
    
    <p><b>Privacidad de los Menores</b></p>
    <p>
      Dada la importancia que reviste la privacidad de los niños, no recogemos, tratamos ni 
      usamos en el Sitio Web información alguna relativa a personas menores, sin previa autorización 
      verificando de su padre, madre o tutor. Estas personas tienen derecho, a su requerimiento, 
      a visualizar la información que El Niño nos facilitó y a solicitar que se elimine. 
      Los menores no deberán remitir a Sina® ningún tipo de Información Personal sin el previo 
      consentimiento de sus padres o representantes. Dado que los menores pueden no estar en 
      condiciones de comprender nuestra Política de Privacidad, ni decidir válidamente sobre las 
      opciones disponibles, instamos a sus progenitores o adultos a cargo de los mismos a que 
      participen en las actividades del menor en Internet, y que les enseñen cómo proteger su privacidad.
    </p>
    
    <p><b>Vínculos con otros sitios</b></p>
    <p>
      Pese a que hemos visitado los Sitios vinculados, nos es imposible controlar sus contenidos 
      o los vínculos que a su vez ellos ofrecen, pues muchos de ellos son constantemente 
      modificados y poseen su propia política de privacidad. Por ello, aconsejamos que antes de 
      suministrar cualquier tipo de información a un Sitio vinculado verifique la política de 
      privacidad que el mismo aplica.
    </p>
    
    <p><b>Política de Seguridad</b></p>
    <p>
      La protección de su privacidad es una de nuestras metas. Hemos tomado todas las medidas. 
      Nuestro alcance tecnológico y económico a fin de asegurar su privacidad. Dentro de esas 
      limitaciones extremamos las precauciones en la transmisión de la información desde su 
      computadora hacia nuestros servers. Sina® utiliza precauciones técnicas y organizativas 
      de seguridad, para proteger sus datos de la manipulación, pérdida, destrucción o el acceso 
      por personas no autorizadas. Los datos personales se cifrarán en tránsito para impedir su 
      uso indebido por terceros. Los procedimientos de seguridad de esta empresa se revisan constantemente 
      con nuevos desarrollos tecnológicos.
    </p>
    
    <p><b>Aceptación de estos Términos</b></p>
    <p>
      Al navegar en nuestra página o usar alguno de nuestros servicios en los sitios, 
      el Usuario está manifestado que ha leído, comprendido y aceptado íntegramente 
      esta Política de Privacidad. Si el Usuario no comparte esta Política solicitamos 
      no prosiga en el uso de los Sitios Web. En el caso en que se realicen cambios sobre 
      esta Política de Privacidad, si el Usuario continúa haciendo uso de los Sitios después 
      de la implementación de cualquier cambio que el usuario acepto dichos cambios.
    </p>
    
    <p><b>Jurisdicción Competente y Ley Aplicable</b></p>
    <p>
      Cualquier interpretación y/o conflicto relacionado con la presente Política de Privacidad, 
      o bien sobre el cumplimiento de la misma, deberán ser dirimidos por la Justicia Ordinaria 
      competente de la Ciudad de Quilmes, Provincia de Buenos Aires, renunciando el Usuario a 
      cualquier otra jurisdicción que pueda resultar competente. Asimismo, serán de exclusiva 
      aplicación las leyes de la República Argentina, con exclusión de cualquier norma de su 
      sistema de derecho internacional y/o cualquier otra norma que remita a la aplicación de cualquier ley extranjera.
    </p>
    
    <p><b>Contactos</b></p>
    <p>
      Si tiene cualquier problema, inquietud, pregunta o idea, por favor contáctese con el 
      Oficial de Seguridad Informática y Privacidad de Datos de Sina®:
    </p>

    <p>
      Oficial de Seguridad Informática y Privacidad de Sina® <br>
      Seguridad Informática: SITEC - Soluciones Informáticas - www.sitecs.com.ar
    </p>
    <p>
      <a href="https://g.page/Sina-messina-hnos?share" target="_blank" rel="noopener noreferrer">SINA® - Messina Hnos SA <br>
      Calle. Madres de Plaza de Mayo 949 <br>
      C.P. 1878 - Quilmes, Provincia de Buenos Aires, República Argentina</a> <br>
      Tel: <a href="tel:01121399100">+54 11 2139 9100</a> <br>
      Email: <a href="mailto:infoweb@sina.com.ar">web@sina.com.ar</a> <br>
      Sitio Web: <a href="https://www.sina.com.ar" target="_blank" rel="noopener noreferrer">https://www.sina.com.ar</a>
    </p>
  </div>

  <div class="clear grid_22" style="height:30px;"></div>
</div>