<div class="row">
  <div class="container">
      <h1 class="title">Cómo comprar</h1>
  </div>
</div>
<div class="row">
  <div class="container">
    <div class="dots-list">
      <ol>
          <li>
            <div class="img" style="background-image: url(../../assets/images/comprar/paso_01.webp)"></div>
            <div class="texto">
              <p>Para realizar una compra deberás crearte un usuario en nuestra página llenando el formulario de alta de cliente. Una vez que nos envías el formulario, a la mayor brevedad posible nos vamos a comunicar con vos, para corroborar tus datos y darte de alta en nuestro sistema.
              </p>
            </div>
            </li>
          <li>
              <div class="img" style="background-image: url(../../assets/images/comprar/paso_02.webp)"></div>
              <div class="texto">
                  <p style="line-height:22px;">
                      Luego te va a llegar un correo electrónico con tu código de cliente y contraseña- por favor no te olvides de revisar la bandeja de no deseados.<!--  <b>¡Ingresa con tu facebook  y olvídate de las contraseñas!</b> --></p>
              </div>
            </li>
          <li>
              <div class="img" style="background-image: url(../../assets/images/comprar/paso_03.webp)"></div>
              <div class="texto">
              <p>Una vez iniciada la sesión, vas a poder navegar libremente por la página. Para realizar una compra tenes que agregar a tu carrito los productos que desees.</p>
            </div>
          </li>
          <li>
              <div class="img" style="background-image: url(../../assets/images/comprar/paso_04.webp)"></div>
              <div class="texto">
                  <p>Desde la solapa de productos, vas a tener acceso a todos los rubros con los que trabajamos; en esta sección podrás navegar e ir agregando a tu carrito. O bien otra opción es utilizar el buscador, que se encuentra en el margen superior de nuestro sitio web, colocando las palabras claves o el código de artículo.              </p>

            </div>
          </li>
          <li>
              <div class="img" style="background-image: url(../../assets/images/comprar/paso_05.webp)"></div>
              <div class="texto">
                  <p style="line-height:22px;">
                      Antes de finalizar el pedido podes <b>agregar, modificar, borrar</b> los artículos como lo desees.</p>            

            </div>
          </li>
          <li>
              <div class="img" style="background-image: url(../../assets/images/comprar/paso_06.webp)"></div>
              <div class="texto">
                  <p style="line-height:22px;">
                      Para cualquier aclaración especial, podés dejarnos tu comentario en el campo <b>Observaciones.</b><br>
                      Una vez concluida la compra, por favor verifica que tus datos sean correctos y  continuá hasta <b>FINALIZAR</b> el pedido. Esta es la parte más importante, tu pedido quedará finalizado una vez que el sistema te indique su nº de solicitud.
                    </p> 
              </div>
          </li>
          <li>
              <div class="img" style="background-image: url(../../assets/images/comprar/paso_07.webp)"></div>
              <div class="texto">
                  <p style="line-height:22px;">
                      Cuando esté finalizado tu pedido, el mismo se guardara en su historial de compras. Podrás  repetir una compra, modificando cantidades, agregando y/ó sacando productos. En el caso contrario, al no haber finalizado la compra, tu pedido incompleto lo podrás encontrar en <b>mis compras</b> - <b>pendientes de finalizacion</b>.
                      </p>
              </div>
          </li>
              
      </ol>        
    </div>
  </div>
</div>