<div class="row" style="width: 100%;">
  <div class="container">
      <h1 class="title">Cómo comprar</h1>
  </div>
</div>
<div class="row" style="width: 100%;">
  <div class="container-pasos">
    <div class="dots-list">
      <ol>
          <li>
            <div class="img">
              <img src="assets/images/comprar/paso_01.webp" alt="Paso 01">
            </div>
            <div class="texto">
              <p>
                Para comprar tenés que crear un usuario en la web completando el formulario de alta de cliente en tres simples pasos! 
                Mientras más prolija y completa sea la carga de datos el usuario se registrará exitosamente.
              </p>
            </div>
            </li>
          <li>
              <div class="img">
                <img src="assets/images/comprar/paso_02.webp" alt="Paso 02">
              </div>
              <div class="texto">
                <p>
                  Luego de registrarte, recibirás un correo al mail provisto para confirmar que tu correo electrónico este bien. 
                  No olvides revisar spam, social, promociones o notificaciones; ya que puede llegar en esas categorías.
                </p>
              </div>
            </li>
          <li>
              <div class="img">
                <img src="assets/images/comprar/paso_03.webp" alt="Paso 03">
              </div>
              <div class="texto">
                <p>
                  Una vez confirmado tu correo electrónico nos comunicaremos contigo para corroborar tus datos y darte de alta como cliente 
                  para que puedas ver los precios y gestionar tus compras de manera simple y rápida.
                </p>
            </div>
          </li>
          <li>
              <div class="img">
                <img src="assets/images/comprar/paso_04.webp" alt="Paso 04">
              </div>
              <div class="texto">
                <p>
                  Recibirás un mail de bienvenida donde te confirma que se ha activado la cuenta correctamente.
                </p>
            </div>
          </li>
          <li>
              <div class="img">
                <img src="assets/images/comprar/paso_05.webp" alt="Paso 05">
              </div>
              <div class="texto">
                <p>
                  Ahora sí, podes navegar libremente nuestro sitio diseñado exclusivamente para vos! 
                  Ingresando en www.sina.com.ar e iniciando sesión con tu correo electrónico y contraseña.
                </p>
            </div>
          </li>
          <li>
              <div class="img">
                <img src="assets/images/comprar/paso_06.webp" alt="Paso 06">
              </div>
              <div class="texto">
                  <p>
                    Para comprar tenés que ir agregando los productos que desees al carrito. 
                    Los mismos los vas a encontrar en el <b>buscador</b> colocando palabras clave, o bien navegando 
                    las distintas <b>categorías de artículos</b> donde se encuentran todos los productos clasificados.
                  </p> 
              </div>
          </li>
          <li>
              <div class="img">
                <img src="assets/images/comprar/paso_07.webp" alt="Paso 07">
              </div>
              <div class="texto">
                <p>
                  Antes de finalizar la compra, tenés la posibilidad de agregar, modificar y/o eliminar productos tal como desees.
                </p>
              </div>
          </li>
          <li>
              <div class="img">
                <img src="assets/images/comprar/paso_08.webp" alt="Paso 08">
              </div>
              <div class="texto">
                <p>
                  Una vez que tu pedido esté listo, hace clic en <b>finalizar compra</b>.
                </p>
              </div>
          </li>
          <li>
              <div class="img">
                <img src="assets/images/comprar/paso_09.webp" alt="Paso 09">
              </div>
              <div class="texto">
                <p>
                  ¡Ya falta poco! Elegí si tu pedido va por <b>envío</b> o si <b>retiras en tienda</b>. En el caso de envíos, 
                  verifica que todos los datos de entrega estén correctos y para retiros en tienda, coloca la fecha y 
                  hora en la que vas a retirar tu pedido. Por último, antes de finalizar tu compra es importante que aclares 
                  todos los detalles que creas necesarios correspondientes a tu pedido en la solapa de <b>observaciones</b>.
                </p>
              </div>
          </li>
          <li>
              <div class="img">
                <img src="assets/images/comprar/paso_10.webp" alt="Paso 10">
              </div>
              <div class="texto">
                <p>
                  Si te olvidaste de algunos productos antes de que tu pedido sea entregado, 
                  podes agregarlo a tu pedido principal mediante el código solicitado.
                </p>
              </div>
          </li>
          <li>
              <div class="img">
                <img src="assets/images/comprar/paso_11.webp" alt="Paso 11">
              </div>
              <div class="texto">
                <p>
                  Luego de finalizar el proceso de compra, nos comunicaremos contigo cuando el pedido este preparado 
                  para confirmarte detalles del mismo y coordinar la entrega.
                </p>
              </div>
          </li>
          <li>
              <div class="img">
                <img src="assets/images/comprar/paso_12.webp" alt="Paso 12">
              </div>
              <div class="texto">
                <p>
                  Tené en cuenta que en tu usuario contas con un historial de compras dónde vas a poder ver reflejados 
                  tus últimos pedidos y los productos que compres con mayor frecuencia.<br>
                  Si no finalizaste tu compra, quedará pendiente en el carrito.
                </p>
              </div>
          </li>
      </ol>        
    </div>
  </div>
</div>