.row > .container > h1.title {
    font-size: 14px;
    margin: 0;
    color: #0579ff;
    text-align: right;
    padding: 15px 0px;
}

.container-pasos {
    margin: 0px 10px;
}
.dots-list {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 115px;
}
.dots-list ol {
    width: 100%;    
    position: relative;
    margin-bottom: 20px;
    list-style: none !important;
}
.dots-list ol li {
    height: 200px;
    position: relative;
    margin-top: 0em;
    margin-bottom: 20px;
}
.dots-list ol li .texto {
    position: absolute;
    top: calc(-200px/2 + 5px);
    width: calc(100% - 40px);
    height: 200px;
    display: flex;
    align-items: center;
    text-align: left;
    right: calc(0px);
}
.dots-list ol li .img {
    /* background-size: 100%; */
    /* box-shadow: #9d9d9d 0px 3px 5px 1px; */
    width: 100%;
    /* height: 24vw; */
    /* border-radius: 6px; */
    position: absolute;
    top: calc(-100%/1.5 + 5px);
    left: calc(-100% - 50px);
    /* background-repeat: no-repeat; */
}
.img img {
    width: 100%;
}
.dots-list ol li .date {
    position: absolute;
    left: -115px;
    font-weight: bold;
    font-size: 1em;
    top: -2px;
    background: transparent;
}
.dots-list ol li:before {
    content: "";
    background: #0084ff; /*edit line colour*/
    position: absolute;
    width: 1px;
    top: 5px;
    bottom: -25px;
    left: -24px;
}
.dots-list ol li:after {
    content: "";
    background: #0084ff;  /*edit circle colour*/
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 100%;
    border:2px solid #0084ff; /*edit circle border colour*/
    top: 5px;
    left: -30px;
}
.dots-list ol li:last-child:before {
    content: "";
    background: rgba(0, 0, 0, 0);
}
    
@media (min-width: 769px) {
    .dots-list {
        margin-top: 250px;
    }
    .dots-list ol li:nth-child(even) .img{
        left: 0px;
    }
    .dots-list ol li:nth-child(even) .texto{
        text-align: right;
        right: calc(100% + 80px);
    }
    .dots-list ol {
        margin-right: 16px;
        width: calc(50% - 20px);    
    }    
    .dots-list ol li {
        height: 400px;
    }
    .dots-list ol li .img {
        top: -11vw;
    }
}

@media (min-width: 992px) {
    .dots-list ol li .img {
        top: -11.5vw;
        /* left: calc(-100% - 100%/3.5); */
    }
}

@media (min-width: 1200px) {
    .dots-list ol li .img {
        top: -12vw;
        /* left: calc(-100% - 100%/4); */
        /* height: 25vw; */
    }
}

@media (min-width: 1430px) {
    .dots-list ol li .img {
        top: -12.5vw;
        /* left: calc(-100% - 50px); */
    }
}
