<div class="container" style="max-width: 970px;">
  <div class="row">
    <h1 class="title">Contacto</h1>
  </div>
  <div class="row">
      <div class="divisor">
        <div class="divisor__formulario" *ngIf="config.switchContactosActivo">
          <div class="divisor__formulario__info">
            <h2>Información de contacto</h2>
            <div class="imagenes_container">
              <div class="imagenes">
                <img [ngClass]="'lazyload'" data-src="../assets/images/contacto/sinaEquipo.jpg" alt="Equipo Sina" title="Equipo Sina" />
                <img [ngClass]="'lazyload'" data-src="../assets/images/contacto/sinaEquipo2.jpg" alt="Equipo Sina" title="Equipo Sina" />
                <img [ngClass]="'lazyload'" data-src="../assets/images/contacto/sinaEquipo.jpg" alt="Equipo Sina" title="Equipo Sina" />
                <img [ngClass]="'lazyload'" data-src="../assets/images/contacto/sinaEquipo2.jpg" alt="Equipo Sina" title="Equipo Sina" />
              </div>
            </div>
            <p>Tel.: <a href="tel:01121399100">011 2139-9100</a></p>
            <p>Whatsapp: <a target="_blank" rel="noopener noreferrer" href="https://wa.me/5491123145727?text=Hola">+54 9 11 2314-5727</a></p>
            <p>Madres de Plaza de Mayo 949, Quilmes, Bs. As.</p>    
            <p>Horario de atención:  Lun. a Vie. de 8 a 12 hs. y de 14 a 17 hs. Sáb. de 8 a 12 hs.</p>
            <p><a href="mailto:infoweb@sina.com.ar" style="text-transform: none;">infoweb@sina.com.ar</a></p>
          </div>
          <div class="divisor__formulario__mensaje">
              <h2>Dejanos tu mensaje</h2>
              <form action="/">
                <input class="form-control" [(ngModel)]="nombre" name="nombre" type="text" placeholder="Nombre" required>
                <input class="form-control" [(ngModel)]="email" name="email" type="email" placeholder="E-mail" required>
                <input class="form-control" [(ngModel)]="telefono" name="telefono" type="number" placeholder="Teléfono">
                <textarea class="form-control" [(ngModel)]="mensaje" name="mensaje" rows="11" placeholder="Mensaje" required></textarea>
                <p style="color: #057aff;"*ngIf="respuesta">{{respuesta}}</p>
                <p style="color: #ea4335" *ngIf="error">{{error}}</p>
                <button type="button" class="actionButton" style="width: 100%;text-align: center;" (click)="enviar()">ENVIAR</button>
              </form>
          </div>
        </div>
        <div class="divisor__formulario" *ngIf="!config.switchContactosActivo">
          Debido a la situación actual el formulario de contacto se encuentra suspendido temporalmente, puede dirigirse al siguiente enlace para dejar registrados sus datos:
          <br><br>
          LINK GOOGLE FORMS
        </div>
    </div>
  </div>
</div>
<div class="divisor__datos">
    <div class="divisor__datos__map">
      <iframe [ngClass]="'lazyload'" data-src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13115.126572012094!2d-58.264903!3d-34.735898!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2487ca7b31b60673!2sMessina+Hnos+S.A.!5e0!3m2!1sen!2sar!4v1549472528298" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>
