<div class="containerNosostros">

  <div class="nosotros">
    <h1>¡Gracias!</h1>
    <p>
      Ustedes pensarán, ¿por qué comenzamos así una descripción de nuestra empresa? Porque sin ustedes, nuestros clientes amigos, futuros clientes, proveedores y ¿por qué no? nuestros colegas; no estaríamos aquí a la vanguardia con más de 75 años de trayectoria, donde el trabajo en equipo, la innovación permanente, la inversión de capital constante, la capacitación para nuestra gente, el respeto y calidez que se merece nuestro cliente, y la honestidad, son valores inamovibles en nuestro trabajo diario. Simplemente gracias!
    </p>
    <div class="imagenes1">
      <!-- <img [ngClass]="'lazyload'" data-src="https://apisina.leren.com.ar/storage/images/web_nosotros.webp" alt="Nosotros" title="Nosotros" /> -->
      <!-- <img [ngClass]="'lazyload'" data-src="/assets/images/nosotros/nosotros_1.jpg" alt="Nosotros" title="Nosotros" />
      <img [ngClass]="'lazyload'" data-src="/assets/images/nosotros/nosotros_2.jpg" alt="Nosotros" title="Nosotros" /> -->
      <img [ngClass]="'lazyload'" data-src="/assets/images/nosotros/web_nosotros_1.jpg" alt="Nosotros" title="Nosotros" />
      <img [ngClass]="'lazyload'" data-src="/assets/images/nosotros/web_nosotros_2.jpg" alt="Nosotros" title="Nosotros" />
      <img [ngClass]="'lazyload'" data-src="/assets/images/nosotros/web_nosotros_3.jpg" alt="Nosotros" title="Nosotros" />
      <img [ngClass]="'lazyload'" data-src="/assets/images/nosotros/web_nosotros_4.jpg" alt="Nosotros" title="Nosotros" />
    </div>
    <p>
      Somos una empresa líder en fabricación y distribución mayorista de artículos de limpieza y accesorios; riego; bazar; y líneas de limpieza profesional e institucional. Entregamos en todo el país con camiones propios y terciarizados, estamos preparados para brindar el mejor servicio de asesoramiento, venta y postventa del mercado.
    </p>
    <p>
      Desde siempre, las mejores escobas Messina®, sinónimo de calidad en escobas de guinea. Hoy, nuestras líneas de escobillones, escobas plásticas y cepillería <img [ngClass]="'lazyload'" data-src="/assets/images/header/logo_azul.webp" alt="Sina" title="Sina" height="14" /> para la industria y el hogar, poseen un 95% de materiales recuperados, comprometiéndonos con el medio ambiente, y manteniendo la calidad que nos caracteriza.
    </p>

    <p>
      Los esperamos en nuestra casa para recorrer juntos un renovado show-room con exhibición de más de 2.500 artículos.
    </p>

    <p>
      Aun tenemos mucho por hacer...
    </p>
  
  </div>

  <div class="clear grid_22" style="height:30px;"></div>
</div>