.containerNosostros {
  width: 100%;
  max-width: 970px;
  margin: auto;
}
.containerNosostros h1, .containerNosostros h2, .containerNosostros h3  {
  color: #0579ff;
}
.containerNosostros h1 {
  font-size: 28px;
}
.containerNosostros h2 {
  font-size: 20px;
}
.containerNosostros h3 {
  font-size: 18px;
}
.containerNosostros h4 {
  font-size: 16px;
  font-weight: bold;
}
.containerNosostros p {
  color: #444;
  margin: 20px 0;
  font-size: 16px;
}
.imagenes1 img {
  width: 100%;
  /* margin: 0 1.5%; */
}
.center {
  text-align: center;
}
.line{
  margin: 15px 0;
  background: #0084ff;
  height: 1px;
}
.fila {
  display: flex;
}
.veinte {
  min-width: 140px;
  max-width: 140px;
  margin-right: 10px;
}