<div class="resultado__item__content" routerLink="{{item.fullLink}}" >
  <div class="imgContainer">
    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    <div class="imagen">
      <img *ngIf="item.urlImagen" style="max-width: 100%;" [ngClass]="'lazyload'" [attr.data-src]="item.urlImagen" onerror="this.src='/assets/images/producto/picGenerica.webp'" alt="">
    </div>
  </div>
  <div class="tituloContainer">
    <p>{{item.titulo}}</p>
    <p>{{item.tituloAdicional}}</p>
  </div>
</div>
<div class="cantidad" *ngIf="sesion || item.oferta">
  <div class="cantidad--right" [class.alerta]="item.incompleto">
    <div class="precio" *ngIf="sesion || item.oferta">
      <p>${{item.precio_mostrado | number : '.2'}}</p>
      <span style="margin-left: 5px">{{iva_usuario}}</span>
    </div>
    <!--div class="side">
      <p>{{item.unidadMedida}}</p>
    </div-->
  </div>
  <div class="cantidad--left">
    <div class="custom-select">
      <input *ngIf="item.cantPack === '1'" name="cantidad" aria-label="Cantidad" (keyup.enter)="enterCheck()" type="number" min="1" max="999999" [(ngModel)]="item.cantidad" (keyup)="revisarCantidad($event)">
      <select *ngIf="item.cantPack !== '1'" name="cantidad" aria-label="Cantidad" [(ngModel)]="item.cantidad">
        <option *ngFor="let cant of arrayCants" [ngValue]="cant">{{cant}}</option>
      </select>
    </div>
  </div>
</div>
<div *ngIf="item.oferta" class="oferta">
  <img [ngClass]="'lazyload'" data-src="./assets/images/iconos/oferta.webp" alt="">
  <h3>OFERTA</h3>
</div>
<div *ngIf="item.imperdible" class="imperdible">
  <img [ngClass]="'lazyload'" data-src="./assets/images/iconos/imperdible.webp" alt="">
  <h3>NOVEDAD</h3>
</div>
<div class="resultado__item__comprar" *ngIf="!relacionado" style="    padding: 0px 15px;">
  <button class="actionButton" *ngIf="item.comprado == false && sesion" (click)="newMessage(item)">COMPRAR</button>
  <button class="actionButton" *ngIf="!sesion" (click)="newMessage(item)">VER PRECIO</button>
  <button class="actionButton btn-outline-success" *ngIf="sesion && item.comprado == true" (click)="removeMessage(item)">AGREGADO</button>
</div>
