<div class="row">
  <div id="contenedor" class="container">

    <!-- idcms_home -->
    <div id="home" class="grid_22 prefix_1" class="containerEnvios">
      <h1>Envíos</h1>
    
      <p>
        ¡Llegamos a todo el país con el mejor servicio de asesoramiento, venta y postventa del mercado!<br />
        <br />
        Tenes que hacer tu pedido con <b>ANTICIPACIÓN</b>, debido a que el espacio es <b>LIMITADO</b>.<br />
        <br />
        <b>Mínimo de compra para envíos sin cargo: $5.000 + IVA.-</b> <br />
        <br />
        <span style="font-size: 11px; font-weight: bold;">LOS DIAS DE ENTREGA DETALLADOS CORRESPONDEN A LA LOGISTICA Y DISTRIBUCION EN SITUACIONES NORMALES Y HABITUALES, LOS MISMOS PUEDEN ESTAR SUJETOS A MODIFICACIONES.</span>
      </p>

      <div class="line"></div>

      <div class="celda sesenta vmiddle">
        <h3>GBA</h3>
        <p style="margin-bottom: 20px;">
          ventasgba@sina.com.ar<br />
          011-2139-9100 pre atendedor | Opción 01<br />
          Cel/Whatsapp: +54 11-3561-3680| +54 11-3561-3682
        </p>

        <h4>ENTREGAS DIRECTAS:</h4>

        <ul>
          <li><span class="textoNegro">GBA Zona Norte y Zona Oeste:</span> días Lunes, Miércoles y Sábados.</li>
          <li><span class="textoNegro">GBA Zona Sudoeste:</span> días Martes, Jueves y Sábados.</li>
          <li><span class="textoNegro">GLP y La Plata:</span> días Miércoles y Viernes.</li>
          <li><span class="textoNegro">GBA Zona Sur:</span> días Martes, Viernes y Sábados.</li>
        </ul>

        <div class="line"></div>

        <h3>CABA | INTERIOR DEL PAIS</h3>

        <p style="margin-bottom: 20px;">
          ventasinterior@sina.com.ar<br />
          011-2139-9100 pre atendedor | Opción 02<br />
          Cel/Whatsapp: +54 11-3854-2732 | +54 11-3561-3675
        </p>

        <h4>ENTREGAS DIRECTAS:</h4>

        <ul>
          <li><span class="textoNegro">CABA | EXPRESOS SITUADOS EN CABA:</span> días lunes, martes, miércoles y jueves.</li>
        </ul>

        <p>
          LOS EXPRESOS O TRASNPORTES DE CARGA, SON A ELECCION DEL CLIENTE EN BASE A SU CONVENIENCIA (precio – calidad de servicio – velocidad de entrega – etc.)<br />
          <br />
          NO REALIZAMOS COTIZACION NI MANEJAMOS COSTOS DE LOS SERVICIOS DE ENTREGA CONTRATADOS POR EL CLIENTE.
        </p>

        <div class="line"></div>
        
        <h3>¡VENI A RETIRAR TU PEDIDO EN MOSTRADOR!</h3>

        <p style="margin-bottom: 20px;">
          ventasmostrador@sina.com.ar<br />
          011-2139-9100 pre atendedor | Opción 01<br />
          Cel/Whatsapp: +54 11-3561-3680
        </p>

        <h4>DÍAS Y HORARIOS:</h4>

        <ul>
          <li><span class="textoNegro">LUNES A VIERNES:</span> de 8 a 12 hs. y de 14 a 17 hs.</li>
          <li><span class="textoNegro">SABADOS:</span> de 8 a 12 hs.</li>
        </ul>

      </div>
    
    </div>

    <div class="clear container_24"></div>
  
    <div class="clear grid_22" style="height:30px;"></div>
  </div>
</div>