<div class="container">
  <h1 class="title">Productos de limpieza por mayor, fabrica de productos de limpieza</h1>
</div>
<div class="row message">
  <div class="container">
    <ngb-alert *ngIf="successMessage" (click)="alertClicked()" type="success" (close)="alertClicked();">
      {{ successMessage }}
      <button class="actionButton transparentButton" [routerLink]="['/compra/carrito']">VER TODOS</button>
    </ngb-alert>
  </div>
</div>
<div class="container filter">
  <div class="row">
    <div class="col-md-3 col-xs-12">
      <!-- <div class="row filter__selector filter__top" style="border: none; display: flex; flex-direction: column; height: auto;"> -->
        <!--div ngbDropdown placement="bottom-right" class="d-inline-block order col-md-8 col-xs-12">
          <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>Ordenar por</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
            <button class="dropdown-item">Nombre</button>
            <button class="dropdown-item">Precio</button>
          </div>
        </div-->
        <!-- <div ngbDropdown placement="bottom-right" class="d-inline-block order col-md-8 col-xs-12">
          <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>Vista: {{modoVista}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
            <button class="dropdown-item" (click)="cambiarVista('Paginado')">Paginado</button>
            <button class="dropdown-item" (click)="cambiarVista('Listado')">Listado</button>
          </div>
        </div>  
      </div> -->
    <!--
      <div class="row">
        <div class="col-md-8 col-xs-12">
          <div class="selection" 
            [ngClass]="{'hidden': filter.head.selected == 0}" 
            *ngFor="let filter of FilterItem; let i = index">
            <div class="header"><p>{{filter.head.texto}}: {{filter.head.selectedText}}</p><span (click)="itemFilterRemoveClick(i)">x</span></div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-8 col-xs-12 selector" 
          [ngClass]="{'toggle': filter.head.state, 'hidden': filter.head.selected != 0}" 
          *ngFor="let filter of FilterItem; let i = index">
          <div class="header" (click)="itemFilterClick(i)"><p>{{filter.head.texto}}</p><span></span></div>
          <div class="content">
            <div *ngFor="let item of filter.items; let j = index" class="item" (click)="selectItemClick(i, j)">{{item.texto}}</div>
          </div>
        </div>
      </div>
      <br>
    -->
      <div class="containerSidebarCategorias">
        <div class="row filter__top">
          <p>Vista</p>
        </div>
        <div class="row listadoCategorias">
          <p *ngIf="modoVista === 'Listado'" style="margin-left: 20px; cursor: pointer;" (click)="cambiarVista('Listado')"><strong>Ver todos</strong></p>
          <p *ngIf="modoVista !== 'Listado'" style="margin-left: 20px; cursor: pointer;" (click)="cambiarVista('Listado')">Ver todos</p>
          <p *ngIf="modoVista === 'Paginado'" style="margin-left: 20px; cursor: pointer;" (click)="cambiarVista('Paginado')"><strong>Paginado</strong></p>
          <p *ngIf="modoVista !== 'Paginado'" style="margin-left: 20px; cursor: pointer;" (click)="cambiarVista('Paginado')">Paginado</p>
        </div>
      </div>
      <div class="containerSidebarCategorias">
        <div class="row filter__top">
          <p>Ordenar productos</p>
        </div>
        <div class="row listadoCategorias">
          <p *ngIf="ordenamiento && ordenamiento.startsWith('nombre')" style="margin-left: 20px; cursor: pointer;" (click)="ordenPorNombre()"><strong>Nombre</strong></p>
          <p *ngIf="!ordenamiento || !ordenamiento.startsWith('nombre')" style="margin-left: 20px; cursor: pointer;" (click)="ordenPorNombre()">Nombre</p>
          <p *ngIf="ordenamiento && ordenamiento.startsWith('precio')" style="margin-left: 20px; cursor: pointer;" (click)="ordenPorPrecio()"><strong>Precio</strong></p>
          <p *ngIf="!ordenamiento || !ordenamiento.startsWith('precio')" style="margin-left: 20px; cursor: pointer;" (click)="ordenPorPrecio()">Precio</p>
        </div>
      </div>
      <div class="containerSidebarCategorias">
        <div class="row filter__top">
          <p>{{id_filtro}}</p>
        </div>
        <div class="row listadoCategorias" *ngFor="let cat of id_categoria">
            <p routerLink="{{'/' + cat?.link}}" style="font-weight: bold; cursor: pointer;" [ngClass]="{'actual': num_subcategoria === -1}">{{cat?.texto}}</p>
            <p style="cursor: pointer; margin-left: 20px;" *ngFor="let element of cat.listado_subcategorias; let $index = index" [ngClass]="{'actual': num_subcategoria === $index}" routerLink="{{'/' + element?.link}}" (click)="num_subcategoria = $index">
            {{element?.texto}}
          </p>
        </div>
      </div>
      <div class="containerSidebarCategorias">
        <div class="row filter__top">
          <p routerLink="/productos" style="cursor: pointer;">Ver todas las categorías</p>
        </div>
      </div>
    </div>
    <div class="col-md-9 col-xs-12" *ngIf="listaResultados && listaResultados?.length">
      <div class="row filter__top">
        <div class="col">
            <h1 style="
            font-size: 14px;
            margin: 0 0 10px;">{{categoriaPadre? categoriaPadre + " - " : ""}} {{categoriaHijo}}</h1>
        </div>
        <div class="siguiente__top" *ngIf="modoVista === 'Paginado'">
          <button (click)="paginado.anterior()">Anterior</button>
          <span>Página {{paginado.pagina}} de {{paginado.maximo}}</span>
          <button (click)="paginado.siguiente()">Siguiente</button>
        </div>
      </div>
      <div class="row resultado">
        <div class="resultado__item col-md-3 col-xs-6" *ngFor="let item of listaResultados | filter : term">
            <producto [item]="item" [sesion]="loginStatus" [mensaje]="_success"></producto>            
        </div>
      </div>
      <div class="row">
        <p style="margin: 10px 15px;">{{iva_usuario}}</p>
      </div>
      <div class="row">
          <div class="siguiente" *ngIf="modoVista === 'Paginado'">
              <button (click)="paginado.anterior()">Anterior</button>
              <span>Página {{paginado.pagina}} de {{paginado.maximo}}</span>
              <button (click)="paginado.siguiente()">Siguiente</button>
          </div>    
      </div>
    </div>
    <div class="col-md-9 col-xs-12" *ngIf="mensaje" style="
      display: flex;
      align-items: center;
      flex-direction: revert;
      text-align: center;
      height: 300px;
    ">
      <p
      style="
        margin: auto;
        font-size: 3em;
        color: #057aff;
        opacity: 0.6;
      "
      >{{mensaje}}</p>
    </div>
  </div>
</div>