<div class="container">
  <h1 class="title">{{(categoriaHijo || categoriaPadre) ? (categoriaHijo ? (categoriaHijo + ', ' + categoriaHijo + ' al por mayor') : (categoriaPadre + ', ' + categoriaPadre + ' al por mayor')) : 'Productos de ' + familiaActual + ' por mayor, fabrica de productos de ' + familiaActual}}</h1>
</div>
<div class="row message">
  <div class="container">
    <ngb-alert *ngIf="successMessage" (click)="alertClicked()" type="success" (close)="alertClicked();">
      <i class="fa fa-check-circle fa-3x" aria-hidden="true"></i> {{ successMessage }}
      <button class="actionButton transparentButton" [routerLink]="['/compra/carrito']">VER TODOS</button>
    </ngb-alert>
  </div>
</div>
<div class="container filter">
  <div class="row">
    <div class="col-md-3 col-xs-12" [ngStyle]="{'padding-top': modoVista === 'Paginado' ? '14px' : '0px' }">
      <div class="containerSidebarCategorias">
        <div class="row filter__top">
          <p>Vista</p>
        </div>
        <div class="row listadoCategorias">
          <p *ngIf="modoVista === 'Listado'" style="margin-left: 20px; cursor: pointer;" (click)="cambiarVista('Listado')"><strong>Ver todos</strong></p>
          <p *ngIf="modoVista !== 'Listado'" style="margin-left: 20px; cursor: pointer;" (click)="cambiarVista('Listado')">Ver todos</p>
          <p *ngIf="modoVista === 'Paginado'" style="margin-left: 20px; cursor: pointer;" (click)="cambiarVista('Paginado')"><strong>Paginado</strong></p>
          <p *ngIf="modoVista !== 'Paginado'" style="margin-left: 20px; cursor: pointer;" (click)="cambiarVista('Paginado')">Paginado</p>
        </div>
      </div>
      <div class="containerSidebarCategorias">
        <div class="row filter__top">
          <p>Ordenar productos</p>
        </div>
        <div class="row listadoCategorias">
          <p *ngIf="!ordenamiento || (!ordenamiento.startsWith('nombre') && !ordenamiento.startsWith('precio'))" style="margin-left: 20px; cursor: pointer;" (click)="ordenPorDefecto()"><strong>Por defecto</strong></p>
          <p *ngIf="ordenamiento && (ordenamiento.startsWith('nombre') || ordenamiento.startsWith('precio'))" style="margin-left: 20px; cursor: pointer;" (click)="ordenPorDefecto()">Por defecto</p>
          <p *ngIf="ordenamiento && ordenamiento.startsWith('nombre')" style="margin-left: 20px; cursor: pointer;" (click)="ordenPorNombre()"><strong>Nombre</strong></p>
          <p *ngIf="!ordenamiento || !ordenamiento.startsWith('nombre')" style="margin-left: 20px; cursor: pointer;" (click)="ordenPorNombre()">Nombre</p>
          <p *ngIf="ordenamiento && ordenamiento.startsWith('precio') && loginStatus" style="margin-left: 20px; cursor: pointer;" (click)="ordenPorPrecio()"><strong>Precio</strong></p>
          <p *ngIf="(!ordenamiento && loginStatus) || (!ordenamiento.startsWith('precio') && loginStatus)" style="margin-left: 20px; cursor: pointer;" (click)="ordenPorPrecio()">Precio</p>
        </div>
      </div>
      <div class="containerSidebarCategorias">
        <div class="row filter__top">
          <p>{{id_filtro}}</p>
        </div>
        <div class="row listadoCategorias" *ngFor="let cat of id_categoria">
            <p routerLink="{{'/' + cat?.link}}" style="font-weight: bold; cursor: pointer;" [ngClass]="{'actual': num_subcategoria === -1}">{{cat?.texto}}</p>
            <p style="cursor: pointer; margin-left: 20px;" *ngFor="let element of cat.listado_subcategorias; let $index = index" [ngClass]="{'actual': num_subcategoria === $index}" routerLink="{{'/' + element?.link}}" (click)="num_subcategoria = $index">
            {{element?.texto}}
          </p>
        </div>
      </div>
      <div class="containerSidebarCategorias">
        <div class="row filter__top">
          <p routerLink="/productos" style="cursor: pointer;">Ver todas las categorías</p>
        </div>
      </div>
    </div>
    <div class="col-md-9 col-xs-12" *ngIf="mensaje" style="
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      height: 300px;
    ">
      <p
      style="
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        font-size: 3em;
        color: #057aff;
        opacity: 0.6;
      "
      >{{mensaje}}</p>
      <img id="loadCat" *ngIf="mensaje == 'Cargando'" style="margin-left: auto; margin-right: auto;" [ngClass]="'lazyload'" data-src="./assets/images/loader/ajax-loader.gif" height="40" width="50"/>
    </div>
    <div class="col-md-9 col-xs-12" *ngIf="listaResultados && listaResultados?.length">
      <div class="row filter__top" style="padding-top: 0px;">
        <div class="col" [ngStyle]="{'padding-top': modoVista === 'Paginado' ? '0px' : '29px' }">
            <h1 style="
            min-height: 15px;
            font-size: 14px;
            margin: 0 0 10px;">{{(categoriaHijo || categoriaPadre) ? (categoriaPadre ? categoriaPadre + " - " + categoriaHijo : categoriaHijo) : (familiaActual)}}</h1>
        </div>
        <div class="siguiente__top" *ngIf="modoVista === 'Paginado'">
          <button (click)="paginado.anterior()">Anterior</button>
          <span>Página {{paginado.pagina}} de {{paginado.maximo}}</span>
          <button (click)="paginado.siguiente()">Siguiente</button>
        </div>
      </div>
      <div class="containerTopCategorias">
        <span style="font-weight: bold;">Ordenar productos:
          <div style="display: inline-block;">
            <button type="button" class="ordenProductos_selector" (click)="toggleOrdenarMobile()">
              <p *ngIf="!ordenamiento || (!ordenamiento.startsWith('nombre') && !ordenamiento.startsWith('precio'))">Por defecto</p>
              <p *ngIf="ordenamiento && ordenamiento.startsWith('nombre')">Nombre</p>
              <p *ngIf="ordenamiento && ordenamiento.startsWith('precio') && loginStatus">Precio</p>
              <i *ngIf="!showOrdenarMobile" class="fa fa-caret-down" aria-hidden="true"></i>
              <i *ngIf="showOrdenarMobile" class="fa fa-caret-up" aria-hidden="true"></i>
            </button>
            <ul class="ordenProductos" *ngIf="showOrdenarMobile">
              <li (click)="ordenPorDefecto()" *ngIf="!ordenamiento || (!ordenamiento.startsWith('nombre') && !ordenamiento.startsWith('precio'))">
                <p><strong>Por defecto</strong></p>
                <p class="floatingRight"><strong><i class="fa fa-bullseye" aria-hidden="true"></i></strong></p>
              </li>
              <li (click)="ordenPorDefecto()" *ngIf="ordenamiento && (ordenamiento.startsWith('nombre') || ordenamiento.startsWith('precio'))" >
                <p>Por defecto</p>
                <p class="floatingRight"><i class="fa fa-circle" aria-hidden="true"></i></p>
              </li>
              <li (click)="ordenPorNombre()" *ngIf="ordenamiento && ordenamiento.startsWith('nombre')">
                <p><strong>Nombre</strong></p>
                <p class="floatingRight"><strong><i class="fa fa-bullseye" aria-hidden="true"></i></strong></p>
              </li>
              <li (click)="ordenPorNombre()" *ngIf="!ordenamiento || !ordenamiento.startsWith('nombre')">
                <p>Nombre</p>
                <p class="floatingRight"><i class="fa fa-circle" aria-hidden="true"></i></p>
              </li>
              <li (click)="ordenPorPrecio()" *ngIf="ordenamiento && ordenamiento.startsWith('precio') && loginStatus">
                <p><strong>Precio</strong></p>
                <p class="floatingRight"><strong><i class="fa fa-bullseye" aria-hidden="true"></i></strong></p>
              </li>
              <li (click)="ordenPorPrecio()" *ngIf="(!ordenamiento && loginStatus) || (!ordenamiento.startsWith('precio') && loginStatus)">
                <p>Precio</p>
                <p class="floatingRight"><i class="fa fa-circle" aria-hidden="true"></i></p>
              </li>
            </ul>
          </div>
        </span>
      </div>
      <div class="row resultado">
        <div class="resultado__item col-md-3 col-xs-6" *ngFor="let item of listaResultados | filter : term">
          <app-producto-item [item]="item" [sesion]="loginStatus" [mensaje]="_success"></app-producto-item>
        </div>
      </div>
      <br>
      <div class="row">
        <p class="iva__custom__border">{{iva_usuario}}</p>
        <p *ngIf="show_mensaje_ofertas" style="margin: 10px 15px;">Los productos que se encuentran en oferta, tienen una validez que se limita a la modalidad de contado efectivo, hasta agotar Stock.</p>
      </div>
      <div class="row">
          <div class="siguiente" *ngIf="modoVista === 'Paginado'">
              <button (click)="paginado.anterior()">Anterior</button>
              <span>Página {{paginado.pagina}} de {{paginado.maximo}}</span>
              <button (click)="paginado.siguiente()">Siguiente</button>
          </div>    
      </div>
    </div>
  </div>
</div>