<div class="row message">
  <div class="container">
    <ngb-alert *ngIf="successMessage" (click)="alertClicked()" type="success" (close)="alertClicked();">
      {{ successMessage }}
      <button class="actionButton transparentButton" [routerLink]="['/compra']">VER TODOS</button>
    </ngb-alert>
  </div>
</div>
<div class="row" style="background: #f8f8f8; margin: 0;">
  <div class="container">
    <div class="row cuerpo">
      <div class="tab">
        <div class="tab__header">
          <p>Bienvenido {{DatosUsuario.nombreFantasia}}</p>
          <ul>
            <li [class.active]="transaccion.check(i)" 
              (click)="transaccion.cambio(i)"
              *ngFor="let item of ListaItems; let i = index"
              ><i class="fa fa-{{item.icon}}" aria-hidden="true"></i>
              <span>{{item.texto}}</span>
            </li>
          </ul>
        </div>
          <div class="tab__content">
            <!-- Mi cuenta Tab -->
            <div class="tab__item" *ngIf="transaccion.paso === 0">              
              <div class="content">
                  <div class="row tab__item__header">
                    <p>Tu número de Cliente es {{DatosUsuario.codigo}}</p>
                    <p>{{ListaItems[transaccion.paso].texto}}</p>
                  </div>
                  <div class="row">
                    <div class="col-md-9 col-xs-12">
                      <div class="oferta">
                        <div class="border">
                          <h2 style="font-weight: bold;">¡OFERTA!</h2>
                          <h2>RECOMENDADA PARA VOS!</h2>
                        </div>
                        <div class="content">
                            <h2>{{DatosUsuario.nombreFantasia}}</h2>
                            <h3>Numero de Cliente: {{DatosUsuario.codigo}}</h3>
                            <div class="detalle">
                              <p>{{DatosUsuario.categoriaIva}}</p>
                              <p>CUIL {{DatosUsuario.cuit}}</p>
                            </div>
                            <img src="./assets/images/producto/1.png" alt="" />
                            <span>Escobón Escobillón Sina®</span>
                        </div>
                      </div>
                      <ngb-accordion #acc="ngbAccordion" activeIds="MiCuenta" closeOthers="true">
                          <ngb-panel id="MiCuenta">
                            <ng-template ngbPanelTitle>
                              <div class="header">
                                Preguntas Frecuentes <span>&#x25B2;</span>
                              </div>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <ngb-accordion #acc="ngbAccordion" activeIds="pregunta1" closeOthers="true">
                                    <ngb-panel>
                                      <ng-template ngbPanelTitle>
                                        <div class="header">
                                          ¿Cómo comprar en Sina®? 
                                        </div>
                                      </ng-template>
                                      <ng-template ngbPanelContent>
                                        <p>
                                          Es simple y rápido, solo tenes que ingresar al siguiente link y seguir los pasos! <a class="nav-link" routerLink="/como-comprar" routerLinkActive="active">Como comprar<span class="sr-only">current</span></a>.
                                        </p>
                                      </ng-template>
                                    </ngb-panel>
                                    <ngb-panel>
                                      <ng-template ngbPanelTitle>
                                        <div class="header">
                                          ¿Cómo accedo a los precios?
                                        </div>
                                      </ng-template>
                                      <ng-template ngbPanelContent>
                                        <p>
                                          Para ver los precios es fundamental registrarte como cliente, si ya lo hiciste y aun no los podes ver, aguarda la llamada de un representante Sina®, o comunicate con nosotros.
                                        </p>
                                      </ng-template>
                                    </ngb-panel>
                                    <ngb-panel>
                                      <ng-template ngbPanelTitle>
                                        <div class="header">
                                          ¿Hacen envíos? ¿Cuáles son los días de entrega?
                                        </div>
                                      </ng-template>
                                      <ng-template ngbPanelContent>
                                        <p>
                                          Si! Hacemos envíos a todos el país, ingresa <a class="nav-link" routerLink="/envios" routerLinkActive="active">acá</a> y entérate de todo.
                                        </p>
                                      </ng-template>
                                    </ngb-panel>
                                    <ngb-panel>
                                      <ng-template ngbPanelTitle>
                                        <div class="header">
                                          ¿Cuál es el monto mínimo de compra?
                                        </div>
                                      </ng-template>
                                      <ng-template ngbPanelContent>
                                        <p>
                                          El monto mínimo de compra para envíos es de $5000.- + IVA.<br/>
                                          Si retiras en mostrador se definirá con tu representante de ventas.
                                        </p>
                                      </ng-template>
                                    </ngb-panel>
                                    <ngb-panel>
                                      <ng-template ngbPanelTitle>
                                        <div class="header">
                                          ¿Cuáles son los medios de pago?
                                        </div>
                                      </ng-template>
                                      <ng-template ngbPanelContent>
                                        <p>
                                          <ul>
                                            <li><b>Envíos al interior del país:</b> Pago anticipado por depósito en efectivo o transferencia bancaria previo al envío de la mercadería.</li>
                                            <li><b>Entregas directas:</b> Contado contra entrega de la mercadería o anticipado vía deposito/ transferencia bancaria.</li>
                                            <li><b>Compra o retiro en mostrador:</b> Contado en efectivo por caja. Tarjeta debito: Cabal y Visa. Anticipado vía deposito/ transferencia bancaria.</li>
                                          </ul>
                                      </ng-template>
                                    </ngb-panel>
                                    <ngb-panel>
                                      <ng-template ngbPanelTitle>
                                        <div class="header">
                                          ¿Dónde puedo visitarlos?
                                        </div>
                                      </ng-template>
                                      <ng-template ngbPanelContent>
                                        <p>
                                          Vení a conocer nuestro showroom! Encontrarás todos los productos que comercializamos en exhibición!<br />
                                          Acercate a Madres de Plaza de Mayo n° 949 – Quilmes - Buenos Aires.
                                        </p>
                                      </ng-template>
                                    </ngb-panel>
                                    <ngb-panel>
                                      <ng-template ngbPanelTitle>
                                        <div class="header">
                                          ¿Se puede fraccionar la mercadería?
                                        </div>
                                      </ng-template>
                                      <ng-template ngbPanelContent>
                                        <p>
                                          Si, dependiendo del artículo que quieras comprar.<br />
                                          En la web, debajo de la foto del artículo podes encontrar predeterminada la cantidad que viene en el pack o bulto cerrado.<br />
                                          Hay ciertos productos, como por ejemplo: esponjas de cocina, trapos de piso y papel higiénico entre otros; que obligatoriamente se deben comprar por un mínimo determinado de unidades.
                                        </p>
                                      </ng-template>
                                    </ngb-panel>
                                    <ngb-panel>
                                      <ng-template ngbPanelTitle>
                                        <div class="header">
                                          ¿Cuánto demora la entrega una vez efectuada la compra?
                                        </div>
                                      </ng-template>
                                      <ng-template ngbPanelContent>
                                        <p>
                                          Una vez realizado el pedido, deberás tener en cuenta los pasos a seguir en la gestión de compra: 
                                        </p>
                                        <ul>
                                          <li>Preparación y control.</li>
                                          <li>Comunicación al cliente sobre disponibilidad de stock y detalles de su pedido.</li>
                                          <li>Facturación y envió de datos bancarios.</li>
                                          <li>Comprobante de pago.</li>
                                        </ul>
                                      </ng-template>
                                    </ngb-panel>
                                  </ngb-accordion>          
                            </ng-template>
                          </ngb-panel>
                      </ngb-accordion>
                    </div>
                    <div class="col-md-3  col-xs-12 columnaSide">
                      <div class="side">
                        <a class="whiteButton blueButton" type="button" routerLink="/como-comprar">¿CÓMO COMPRAR?</a>
                        <button (click)="descargarLista()" class="whiteButton">
                            <i class="fa fa-download" aria-hidden="true"></i>
                            <p>LISTA DE PRECIOS</p>
                        </button>
                        <ul>
                          <li *ngFor="let item of ListaItems; let i = index" [class.active]="transaccion.check(i)" (click)="transaccion.cambio(i)">
                            <div class="list">
                              <div class="img"><img src="{{item.model}}" alt=""></div>
                              <p>
                                {{item.texto}}
                              </p>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>              
                </div>
            </div>
            <!-- Mis Datos Tab -->
            <div class="tab__item" *ngIf="transaccion.paso === 1">              
              <div class="content">
                <div class="row tab__item__header">
                    <p>{{DatosUsuario.codigo ? "Tu número de Cliente es " + DatosUsuario.codigo : "El cliente no fue "}}</p>
                    <p>{{ListaItems[transaccion.paso].texto}}</p>
                  </div>
                <div class="row">
                  <div class="col-md-9 col-xs-12">
                    <ngb-accordion #acc="ngbAccordion" activeIds="datos0">
                      <ngb-panel id="datos0">
                        <ng-template ngbPanelTitle>
                          <div class="header">
                            Datos fiscales <span>&#x25B2;</span>
                          </div>
                        </ng-template>
                        <ng-template ngbPanelContent >
                          <div class="form-group row">
                            <label for="example-text-input" class="col-xs-3 col-form-label">
                                Razon social
                            </label>
                            <div class="col-xs-9">
                              <input class="form-control" type="text" name="razon_social" [(ngModel)]="DatosUsuario.razonSocial" >
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="example-text-input" class="col-xs-3 col-form-label">
                                Nombre de fantasia
                            </label>
                            <div class="col-xs-9">
                              <input class="form-control" type="text" name="nombre_fantasia" [(ngModel)]="DatosUsuario.nombreFantasia">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="example-text-input" class="col-xs-3 col-form-label">
                                Categoria IVA
                            </label>
                            <div class="col-xs-9">
                              <input class="form-control" type="text" name="cod_categoria_iva" [(ngModel)]="DatosUsuario.codCategoriaIva">
                            </div>
                          </div>

                        <div class="form-group row">
                              <label for="example-text-input" class="col-xs-3 col-form-label">
                                  Direccion
                              </label>
                              <div class="col-xs-9">
                                <input class="form-control" type="text" name="domicilio_direccion" [(ngModel)]="DatosUsuario.datosEnvio.domicilioEntrega.direccion">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="example-text-input" class="col-xs-3 col-form-label">
                                  Localidad
                              </label>
                              <div class="col-xs-9">
                                <input class="form-control" type="text" name="domicilio_ciudad" [(ngModel)]="DatosUsuario.datosEnvio.domicilioEntrega.ciudad">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="example-text-input" class="col-xs-3 col-form-label">
                                  Provincia
                              </label>
                              <div class="col-xs-9">
                                <input class="form-control" type="text" name="domicilio_provincia" [(ngModel)]="DatosUsuario.datosEnvio.domicilioEntrega.provincia">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="example-text-input" class="col-xs-3 col-form-label">
                                  Codigo postal
                              </label>
                              <div class="col-xs-9">
                                <input class="form-control" type="text" name="domicilio_codigo_postal" [(ngModel)]="DatosUsuario.datosEnvio.domicilioEntrega.codPostal">
                              </div>

                            </div>
                          </ng-template>
                      </ngb-panel>
                      <ngb-panel id="datos0">
                        <ng-template ngbPanelTitle>
                          <div class="header">
                            Datos de entrega <span>&#x25B2;</span>
                          </div>
                        </ng-template>
                        <ng-template ngbPanelContent *ngFor="let item of datosFiscales">
                        <div class="form-group row">
                              <label for="example-text-input" class="col-xs-3 col-form-label">
                                  Direccion
                              </label>
                              <div class="col-xs-9">
                                <input class="form-control" type="text" value="{{DatosUsuario.datosEnvio.domicilioEntrega?.direccion}}">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="example-text-input" class="col-xs-3 col-form-label">
                                  Localidad
                              </label>
                              <div class="col-xs-9">
                                <input class="form-control" type="text" value="{{DatosUsuario.datosEnvio.domicilioEntrega?.ciudad}}">
                              </div>
                            </div>
                              <div class="form-group row">
                                <label for="example-text-input" class="col-xs-3 col-form-label">
                                    Provincia
                                </label>
                                <div class="col-xs-9">
                                  <input class="form-control" type="text" value="{{DatosUsuario.datosEnvio.domicilioEntrega?.provincia}}">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="example-text-input" class="col-xs-3 col-form-label">
                                    Telefono
                                </label>
                                <div class="col-xs-9">
                                  <input class="form-control" type="text" value="{{DatosUsuario.datosEnvio.telefono}}">
                                </div>
                              </div>
                          </ng-template>
                      </ngb-panel>
                    </ngb-accordion>
                    <div class="row">
                      <button (click)="guardarDatos()" class="actionButton" style="float: right;">GUARDAR</button>
                    </div>
                  </div>
                  <div class="col-md-3  col-xs-12 columnaSide">
                    <div class="side">
                      <input class="whiteButton blueButton" type="button" value="¿COMO COMPRAR?">
                        <button (click)="descargarLista()" class="whiteButton">
                          <i class="fa fa-download" aria-hidden="true"></i>
                          <p>LISTA DE PRECIOS</p>
                      </button>
                      <ul>
                        <li *ngFor="let item of ListaItems; let i = index" [class.active]="transaccion.check(i)" (click)="transaccion.cambio(i)">
                          <div class="list">
                            <div class="img"><img src="{{item.model}}" alt=""></div>
                            <p>
                              {{item.texto}}
                            </p>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>             
              </div>
            </div>
            <!-- Mis Frecuentes Tab -->
            <div class="tab__item" *ngIf="transaccion.paso === 2">              
              <div class="content">
                <div class="row tab__item__header">
                    <p>Tu número de Cliente es {{DatosUsuario.codigo}}</p>
                    <p>{{ListaItems[transaccion.paso].texto}}</p>
                  </div>
  
                <div class="row">
                  <div class="col-md-9 col-xs-12">
                    <div class="row">
                      <h3 class="misFrecuentesTitle">MIS ARTICULOS MAS COMPRADOS</h3>
                    </div>
                    <div class="row">
                      <div class="misFrecuentes">
                        <div class="row misFrecuentesHeader">
                            <div class="col-1"><div class="border">Cantidad</div></div>
                            <div class="col-2"><div class="border">Descripcion</div></div>
                            <div class="grupo">
                              <div class="col-3"><div class="border">Precio Unitario</div></div>
                              <div class="col-4"><div class="border">Subtotal</div></div>
                              <div class="col-5"></div>
                            </div>
                        </div>
                        <div class="row misFrecuentesRow" *ngFor="let item of comprados">
                          <div class="col-1">
                            <input type="number"  [(ngModel)]="item.cantidad" (focus)="item['incompleto'] = false">
                            <div class="cantidad--right" [class.alerta]="item.incompleto">
                                <div class="mensaje">
                                    <div class="mensaje__content">
                                        <span *ngIf="item.cantidad % item.cantPack !== 0"> * La cantidad ingresada debe ser multiplo de {{item.cantPack}}.</span>
                                        <span *ngIf="item.cantidad < item.cantMinima"> * La cantidad mínima es {{item.cantMinima}} unidades.</span>
                                    </div>
                                </div>
                          </div>          
                          </div>
                          <div class="col-2">
                            <p class="misFrecuentesDescripcion">{{item.titulo}}</p>
                          </div>
                          <div class="grupo">
                            <div class="col-3">
                              <p>${{formatMoney(item.precio)}}</p>
                            </div>
                            <div class="col-4">
                              <p>${{formatMoney(item.precio * (+item.cantidad))}}</p>
                            </div>
                            <div class="col-5">
                              <button class="whiteButton" (click)="newMessage(item)">AGREGAR</button>
                            </div>
                          </div>
                        </div>
                    </div>
                    </div>
                    <div class="row descarga">
                        <div class="col-md-9 col-xs-12">
                          <p>{{iva_usuario}}</p>
                        </div>
                        <div class="col-md-3 col-xs-12">
                            <button (click)="descargarLista()" class="whiteButton">
                                <i class="fa fa-download" aria-hidden="true"></i>
                            <p>LISTA DE PRECIOS</p>
                          </button>
                        </div>
                    </div>    
                  </div>
                  <div class="col-md-3  col-xs-12 columnaSide">
                    <div class="side">
                      <input class="whiteButton blueButton" type="button" value="¿COMO COMPRAR?">
                      <button (click)="descargarLista()" class="whiteButton">
                          <i class="fa fa-download" aria-hidden="true"></i>
                          <p>LISTA DE PRECIOS</p>
                      </button>
                      <ul>
                        <li *ngFor="let item of ListaItems; let i = index" [class.active]="transaccion.check(i)" (click)="transaccion.cambio(i)">
                          <div class="list">
                            <div class="img"><img src="{{item.model}}" alt=""></div>
                            <p>
                              {{item.texto}}
                            </p>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>           
              </div>
            </div>  
            <!-- Mi ultima compra Tab -->
            <div class="tab__item ultimaCompra" *ngIf="transaccion.paso === 3">              
              <div class="content">
                <div class="row tab__item__header">
                    <p>Tu número de Cliente es {{DatosUsuario.codigo}}</p>
                    <p>{{ListaItems[transaccion.paso].texto}}</p>
                  </div>
                <div class="row">
                  <div class="col-md-9 col-xs-12">
                    <ngb-accordion #acc="ngbAccordion" closeOthers="true">
                        <ngb-panel *ngFor="let compra of ultimasCompras; let i = index" id="compra{{i}}">
                          <ng-template ngbPanelTitle>
                            <div class="header" style="font-weight: bold;">
                              Compra del {{compra.fechaPedido?.date.date}}/{{compra.fechaPedido?.date.month}}/{{compra.fechaPedido?.date.year}} <span>&#x25B2;</span>
                            </div>
                          </ng-template>
                          <ng-template ngbPanelContent>
                              <div class="misFrecuentes">
                                  <div class="row misFrecuentesHeader">
                                    <div class="col-1"><div class="border">Cantidad</div></div>
                                    <div class="col-2"><div class="border">Descripcion</div></div>
                                    <div class="grupo">
                                      <div class="col-3"><div class="border">Precio Unitario</div></div>
                                      <div class="col-4"><div class="border">Subtotal</div></div>
                                    </div>
                                  </div>
                                <div class="row misFrecuentesRow" *ngFor="let item of compra.items">
                                    <div class="col-1">
                                      <p style="margin-left: 5px;"> {{item.cantidad}}</p>
                                    </div>
                                    <div class="col-2">
                                      <p class="misFrecuentesDescripcion">{{item.producto.titulo}}</p>
                                    </div>
                                    <div class="grupo">
                                      <div class="col-3">
                                        <p>${{formatMoney(item.producto.precio)}}</p>
                                      </div>
                                      <div class="col-4">
                                        <p>${{formatMoney(item.subtotal)}}</p>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row misFrecuentesTotal">
                                    <div class="col-2">
                                      <button class="actionButton" (click)="repetirPregunta(compra)" style="width: 50%;">REPETIR COMPRA</button>
                                      <a href="#">
                                      <button class="whiteButton" style="width: 150px; padding: 5px 25px;" *ngIf="compra.urlPdf">
                                        VER SOLICITUD  
                                      </button>
                                      </a>
                                      </div>
                                    <div class="col-1"></div>
                                    <div class="col-3">
                                          <p style="margin-top: 16px; font-weight: bold;">TOTAL</p>
                                    </div>
                                    <div class="col-4">
                                      <p style="margin-top: 10px;font-size: 20px;font-weight: bold;">${{formatMoney(compra.total)}}</p>
                                    </div>
                                  </div>
                              </div>          
                          </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                    <div *ngIf="repetirFlag" class="modal__container" (click)="closeRepetir($event)">
                        <div role="document" class="modal-dialog">
                          <div class="modal-content">
                          <div class="modal-header">
                          <h4 class="modal-title">REPETIR COMPRA</h4>
                          <button aria-label="Close" class="close" type="button">
                          <span aria-hidden="true" (click)= "transaccion.cambio(0)">×</span>
                          </button>
                          </div>
                          <div class="modal-body">
                          <p>Al repetir la compra se van a eliminar todos los productos actuales en el carrito y se van a agregar los de la anterior compra seleccionada. ¿Quiere proceder?</p>
                          </div>
                          <div class="modal-footer">
                              <button class="actionButton" type="button" (click)= "repetirCompra()">ACEPTAR</button>
                              <button class="whiteButton" type="button" (click)= "repetirCancelar()" >CANCELAR</button>
                            </div>
                          </div>
                          </div>                            
                    </div>
                  </div>
                  <div class="col-md-3  col-xs-12 columnaSide">
                    <div class="side">
                      <input class="whiteButton blueButton" type="button" value="¿COMO COMPRAR?">
                      <button (click)="descargarLista()" class="whiteButton">
                          <i class="fa fa-download" aria-hidden="true"></i>
                          <p>LISTA DE PRECIOS</p>
                      </button>
                      <ul>
                        <li *ngFor="let item of ListaItems; let i = index" [class.active]="transaccion.check(i)" (click)="transaccion.cambio(i)">
                          <div class="list">
                            <div class="img"><img src="{{item.model}}" alt=""></div>
                            <p>
                              {{item.texto}}
                            </p>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>             
              </div>
            </div>  
            <!-- Cerrar sesion Tab -->
            <div class="tab__item" *ngIf="transaccion.paso === 4">              
                <div class="content">
                  <div class="row tab__item__header">
                    <p>Tu número de Cliente es {{DatosUsuario.codigo}}</p>
                    <p>{{ListaItems[transaccion.paso].texto}}</p>
                  </div>
                  <div class="row">
                    <div class="col-md-9 col-xs-12">
                      <div class="modal__container" (click)="closeFull($event)">
                          <div role="document" class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                            <h4 class="modal-title">CERRAR SESIÓN</h4>
                            <button aria-label="Close" class="close" type="button">
                            <span aria-hidden="true" (click)= "transaccion.cambio(0)">×</span>
                            </button>
                            </div>
                            <div class="modal-body">
                            <p>¿Estas seguro que deseas cerrar sesión?</p>
                            </div>
                            <div class="modal-footer">
                                <button class="actionButton" type="button" (click)= "closeSession()" [routerLink]="['/']">ACEPTAR</button>
                                <button class="whiteButton" type="button" (click)= "transaccion.cambio(0)" >CANCELAR</button>
                              </div>
                            </div>
                            </div>                            
                      </div>
                    </div>
                    <div class="col-md-3  col-xs-12 columnaSide">
                      <div class="side">
                        <input class="whiteButton blueButton" type="button" value="¿COMO COMPRAR?">
                        <button (click)="descargarLista()" class="whiteButton">
                            <i class="fa fa-download" aria-hidden="true"></i>
                            <p>LISTA DE PRECIOS</p>
                        </button>
                        <ul>
                          <li *ngFor="let item of ListaItems; let i = index" [class.active]="transaccion.check(i)" (click)="transaccion.cambio(i)">
                            <div class="list">
                              <div class="img"><div class="img"><img src="{{item.model}}" alt=""></div></div>
                              <p>
                                {{item.texto}}
                              </p>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>           
                </div>
              </div>    
          </div>
        </div>
    </div>
  </div>
</div>
