<div class="row message">
  <div class="container">
    <ngb-alert *ngIf="successMessage" (click)="alertClicked()" type="success" (close)="alertClicked();">
      {{ successMessage }}
      <button class="actionButton transparentButton" [routerLink]="['/compra/carrito']">VER TODOS</button>
    </ngb-alert>
  </div>
</div>
<div class="row" style="background: #f8f8f8; margin: 0;">
  <div class="container">
    <div class="row cuerpo">
      <div class="tab">
        <div class="tab__header">
          <p>Bienvenido {{DatosUsuario.nombreFantasia}}</p>
          <ul>
            <li [class.active]="transaccion.check(i)"
              (click)="cambioTab(i)"
              *ngFor="let item of ListaItems; let i = index"
              ><i class="fa fa-{{item.icon}}" aria-hidden="true"></i>
              <span>{{item.texto}}</span>
            </li>
          </ul>
        </div>
          <div class="tab__content">
            <!-- Mi cuenta Tab -->
            <div class="tab__item" *ngIf="transaccion.paso === 0">
                <div class="content">
                  <div class="row tab__item__header show__desktop">
                      <p>Tu número de Cliente es {{DatosUsuario.codigo}}</p>
                      <p>{{ListaItems[transaccion.paso].texto}}</p>
                  </div>
                  <div class="row tab__item__header show__mobile">
                      <p>Nº de Cliente: {{DatosUsuario.codigo}}</p>
                      <p>{{ListaItems[transaccion.paso].texto}}</p>
                  </div>
                  <div class="row">
                    <div class="col-md-9 col-xs-12">
                      <div class="oferta">
                        <div class="border">
                          <h2 style="font-weight: bold;">¡OFERTA!</h2>
                          <h2>RECOMENDADA PARA VOS!</h2>
                        </div>
                        <div class="content">
                            <h2>{{DatosUsuario.nombreFantasia}}</h2>
                            <h3>Numero de Cliente: {{DatosUsuario.codigo}}</h3>
                            <div class="detalle">
                              <p>{{DatosUsuario.categoriaIva}}</p>
                              <p>CUIL {{DatosUsuario.cuit}}</p>
                            </div>
                            <img [ngClass]="'lazyload'" data-src="./assets/images/producto/1.png" alt="" />
                            <span>Escobón Escobillón Sina®</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3  col-xs-12 columnaSide">
                      <div class="side">
                        <a class="whiteButton blueButton" type="button" routerLink="/como-comprar">¿CÓMO COMPRAR?</a>
                        <button (click)="descargarLista()" class="whiteButton">
                            <i class="fa fa-download" aria-hidden="true"></i>
                            <p>LISTA DE PRECIOS</p>
                        </button>
            						<div class="text-center" id="loaderFile" style="display:none;">
            							<span style="color:#0579ff; font-size:11px;">Generando archivo</span>
            							<span style="color:#0579ff; font-size:11px;">Por favor espere</span>
            							<div><img [ngClass]="'lazyload'" data-src="./assets/images/loader/ajax-loader.gif" /></div>
            						</div>
                        <ul>
                          <li *ngFor="let item of ListaItems; let i = index" [class.active]="transaccion.check(i)" (click)="cambioTab(i)">
                            <div class="list">
                              <div class="img"><img [ngClass]="'lazyload'" [attr.data-src]="item.model" alt=""></div>
                              <p>
                                {{item.texto}}
                              </p>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <!-- Mis Datos Tab -->
            <div class="tab__item" *ngIf="transaccion.paso === 1">
              <div class="content">
                <div class="row tab__item__header show__desktop">
                    <p>Tu número de Cliente es {{DatosUsuario.codigo}}</p>
                    <p>{{ListaItems[transaccion.paso].texto}}</p>
                </div>
                <div class="row tab__item__header show__mobile">
                    <p>Nº de Cliente: {{DatosUsuario.codigo}}</p>
                    <p>{{ListaItems[transaccion.paso].texto}}</p>
                </div>
                <div class="row">
                  <div class="col-md-9 col-xs-12">
                    <ngb-accordion #acc="ngbAccordion" activeIds="datos0">
                      <ngb-panel id="datos0">
                        <ng-template ngbPanelTitle>
                          <div class="header">
                            Datos fiscales <span>&#x25bc;</span>
                          </div>
                        </ng-template>
                        <ng-template ngbPanelContent >
                          <div class="form-group row">
                            <label for="example-text-input" class="col-xs-3 col-form-label">
                                Razon social
                            </label>
                            <div class="col-xs-9">
                              <input disabled class="form-control" type="text" name="razon_social" [ngModel]="DatosUsuario.razonSocial" >
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="example-text-input" class="col-xs-3 col-form-label">
                                Nombre comercial
                            </label>
                            <div class="col-xs-9">
                              <input class="form-control" type="text" name="nombre_fantasia" [(ngModel)]="DatosUsuario.nombreFantasia">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="example-text-input" class="col-xs-3 col-form-label">
                                CUIT/DNI
                            </label>
                            <div class="col-xs-9">
                              <input disabled class="form-control" type="text" name="cuit" [ngModel]="DatosUsuario.cuit">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="example-text-input" class="col-xs-3 col-form-label">
                                Email
                            </label>
                            <div class="col-xs-9">
                              <input disabled class="form-control" type="text" name="email" [ngModel]="DatosUsuario.email">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="example-text-input" class="col-xs-3 col-form-label">
                                Categoria IVA
                            </label>
                            <div class="col-xs-9">
                                <ng-select #responsable style="max-height: 32px; margin: 6px 0px;"
                                  [clearable]="true"
                                  (change)="refreshCategoria($event)"
                                  ng-model="DatosUsuario.codCategoriaIva"
                                  placeholder="Categoria IVA">
                                  <ng-option *ngFor="let cat of data.reponsable_lista" [value]="cat.codigo">
                                    {{cat.text}}
                                  </ng-option>
                                </ng-select>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="example-text-input" class="col-xs-3 col-form-label">
                                Telefono
                            </label>
                            <div class="col-xs-9">
                              <input class="form-control" type="text" value="{{DatosUsuario.telefono}}" [(ngModel)]="DatosUsuario.telefono">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="example-text-input" class="col-xs-3 col-form-label">
                                Celular
                            </label>
                            <div class="col-xs-9">
                              <input class="form-control" type="text" value="{{DatosUsuario.telefonoCelular}}" [(ngModel)]="DatosUsuario.telefonoCelular">
                            </div>
                          </div>
                        <div class="form-group row">
                              <label for="example-text-input" class="col-xs-3 col-form-label">
                                  Direccion
                              </label>
                              <div class="col-xs-9">
                                <input class="form-control" type="text" name="domicilio_direccion" [(ngModel)]="DatosUsuario.domicilio.direccion">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="example-text-input" class="col-xs-3 col-form-label">
                                  Localidad
                              </label>
                              <div class="col-xs-9">
                                <input class="form-control" type="text" name="domicilio_ciudad" [(ngModel)]="DatosUsuario.domicilio.ciudad">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="example-text-input" class="col-xs-3 col-form-label">
                                  Provincia
                              </label>
                              <div class="col-xs-9">
                                <ng-select #provincia_value style="max-height: 32px; margin: 6px 0px;"
                                  [clearable]="true"
                                  (change)="refreshProvincia($event)"
                                  ng-model="DatosUsuario.domicilio.provincia"
                                  placeholder="Provincia"
                                >
                                <ng-option *ngFor="let prov of data.provincia_lista" [value]="prov">
                                  {{prov}}
                                </ng-option>
                                </ng-select>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="example-text-input" class="col-xs-3 col-form-label">
                                  Codigo postal
                              </label>
                              <div class="col-xs-9">
                                <input class="form-control" type="text" name="domicilio_codigo_postal" [(ngModel)]="DatosUsuario.domicilio.codPostal">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="example-text-input" class="col-xs-3 col-form-label">
                                  Responsable facturacion
                              </label>
                              <div class="col-xs-9">
                                <input class="form-control" type="text" name="nombreResponsableFacturacion" [(ngModel)]="DatosUsuario.nombreResponsableFacturacion">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="example-text-input" class="col-xs-3 col-form-label">
                                  Email facturacion
                              </label>
                              <div class="col-xs-9">
                                <input class="form-control" type="text" name="emailFacturacion" [(ngModel)]="DatosUsuario.emailFacturacion">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="example-text-input" class="col-xs-3 col-form-label">
                                  Telefono facturacion
                              </label>
                              <div class="col-xs-9">
                                <input class="form-control" type="text" name="telefonoFacturacion" [(ngModel)]="DatosUsuario.telefonoFacturacion">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="example-text-input" class="col-xs-3 col-form-label">
                                  Breve Descripcion
                              </label>
                              <div class="col-xs-9">
                                <input class="form-control" type="text" name="descripcion" [(ngModel)]="DatosUsuario.descripcion">
                              </div>
                            </div>
                          </ng-template>
                      </ngb-panel>
                      <ngb-panel id="datos0">
                        <ng-template ngbPanelTitle>
                          <div class="header">
                            Datos de entrega <span>&#x25bc;</span>
                          </div>
                        </ng-template>
                        <ng-template ngbPanelContent *ngFor="let item of datosFiscales">
                        <div class="form-group row">
                              <label for="example-text-input" class="col-xs-3 col-form-label">
                                  Direccion
                              </label>
                              <div class="col-xs-9">
                                <input class="form-control" type="text" name="entrega_domicilio_direccion" [(ngModel)]="DatosUsuario.datosEnvio.domicilioEntrega.direccion">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="example-text-input" class="col-xs-3 col-form-label">
                                  Localidad
                              </label>
                              <div class="col-xs-9">
                                <input class="form-control" type="text" name="entrega_domicilio_ciudad" [(ngModel)]="DatosUsuario.datosEnvio.domicilioEntrega.ciudad">
                              </div>
                            </div>
                              <div class="form-group row">
                                <label for="example-text-input" class="col-xs-3 col-form-label">
                                    Provincia
                                </label>
                                <div class="col-xs-9">
                                  <ng-select #provincia_value2 style="max-height: 32px; margin: 6px 0px;"
                                    [clearable]="true"
                                    (change)="refreshProvincia2($event)"
                                    ng-model="DatosUsuario.datosEnvio.domicilioEntrega.provincia"
                                    placeholder="Provincia"
                                  >
                                  <ng-option *ngFor="let prov of data.provincia_lista" [value]="prov">
                                    {{prov}}
                                  </ng-option>
                                  </ng-select>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="example-text-input" class="col-xs-3 col-form-label">
                                    Cod. Postal
                                </label>
                                <div class="col-xs-9">
                                  <input class="form-control" type="text" name="entrega_domicilio_codPostal" [(ngModel)]="DatosUsuario.datosEnvio.domicilioEntrega.codPostal">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="example-text-input" class="col-xs-3 col-form-label">
                                    Telefono
                                </label>
                                <div class="col-xs-9">
                                  <input class="form-control" type="text"  name="entrega_domicilio_telefono" [(ngModel)]="DatosUsuario.datosEnvio.telefono">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="example-text-input" class="col-xs-3 col-form-label">
                                    Transporte
                                </label>
                                <div class="col-xs-9">
                                    <ng-select #transporte style="max-height: 32px; margin: 6px 0px;"
                                      [clearable]="true"
                                      (change)="refreshTransporte($event)"
                                      ng-model="DatosUsuario.datosEnvio.codigoTransporte"
                                      placeholder="Medio de transporte">
                                      <ng-option *ngFor="let transporte of transporte_lista" [value]="transporte.id">
                                        {{transporte.text}}
                                      </ng-option>
                                    </ng-select>
                                </div>
                              </div>
                          </ng-template>
                      </ngb-panel>
                    </ngb-accordion>
                    <div class="row" *ngIf="procesando_info_ok || procesando_info_entrega_ok">
                      <p style="color: #057aff;">{{procesando_info_ok}}</p>
                      <p style="color: #057aff;">{{procesando_info_entrega_ok}}</p>
                    </div>
                    <div class="row" *ngIf="!procesando_info_entrega && !procesando_info_entrega">
                      <p style="color: red;">{{procesando_info_error}}</p>
                      <p style="color: red;">{{procesando_info_entrega_error}}</p>
                      <button (click)="guardarDatos()" class="actionButton" style="float: right;">GUARDAR</button>
                    </div>
                  </div>
                  <div class="col-md-3  col-xs-12 columnaSide">
                    <div class="side">
                      <input class="whiteButton blueButton" type="button" routerLink="/como-comprar" value="¿COMO COMPRAR?">
                        <button (click)="descargarLista()" class="whiteButton">
                          <i class="fa fa-download" aria-hidden="true"></i>
                          <p>LISTA DE PRECIOS</p>
						</button>
						<div class="text-center" id="loaderFile" style="display:none;">
							<span style="color:#0579ff; font-size:11px;">Generando archivo</span>
							<span style="color:#0579ff; font-size:11px;">Por favor espere</span>
							<div><img [ngClass]="'lazyload'" data-src="./assets/images/loader/ajax-loader.gif" /></div>
						</div>
                      <ul>
                        <li *ngFor="let item of ListaItems; let i = index" [class.active]="transaccion.check(i)" (click)="cambioTab(i)">
                          <div class="list">
                            <div class="img"><img [ngClass]="'lazyload'" [attr.data-src]="item.model" alt=""></div>
                            <p>
                              {{item.texto}}
                            </p>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Mis Frecuentes Tab -->
            <div class="tab__item" *ngIf="transaccion.paso === 2">
              <div class="content">
                <div class="row tab__item__header show__desktop">
                    <p>Tu número de Cliente es {{DatosUsuario.codigo}}</p>
                    <p>{{ListaItems[transaccion.paso].texto}}</p>
                </div>
                <div class="row tab__item__header show__mobile">
                    <p>Nº de Cliente: {{DatosUsuario.codigo}}</p>
                    <p>{{ListaItems[transaccion.paso].texto}}</p>
                </div>

                <div class="row">
                  <div class="col-md-9 col-xs-12">
                    <div class="row">
                      <h3 class="misFrecuentesTitle">MIS ARTICULOS MAS COMPRADOS</h3>
                    </div>
                    <div class="row" *ngIf="comprados?.length > 0">
                      <div class="misFrecuentes">
                        <div class="row misFrecuentesHeader">
                            <div class="col-1"><div class="border">Cantidad</div></div>
                            <div class="col-2"><div class="border">Descripcion</div></div>
                            <div class="grupo">
                              <div class="col-3"><div class="border">Precio Unitario</div></div>
                              <div class="col-4"><div class="border">Subtotal</div></div>
                              <div class="col-5"></div>
                            </div>
                        </div>
                        <div class="row misFrecuentesRow" *ngFor="let item of comprados">
                          <div class="col-1">
                            <input type="number"  [(ngModel)]="item.cantidad" (focus)="item['incompleto'] = false">
                            <div class="cantidad--right" [class.alerta]="item.incompleto">
                                <div class="mensaje">
                                    <div class="mensaje__content">
                                        <span *ngIf="item.cantidad % item.cantPack !== 0"> * La cantidad ingresada debe ser multiplo de {{item.cantPack}}.</span>
                                        <span *ngIf="item.cantidad < item.cantMinima"> * La cantidad mínima es {{item.cantMinima}} unidades.</span>
                                    </div>
                                </div>
                          </div>
                          </div>
                          <div class="col-2">
                            <p class="misFrecuentesDescripcion">{{item.titulo}}</p>
                          </div>
                          <div class="grupo">
                            <div class="col-3">
                              <p>${{formatMoney(item.precio)}}</p>
                            </div>
                            <div class="col-4">
                              <p>${{formatMoney(item.precio * (+item.cantidad))}}</p>
                            </div>
                            <div class="col-5">
                              <button *ngIf="!item.comprado" class="whiteButton" (click)="newMessage(item)">AGREGAR</button>
                              <button *ngIf="item.comprado" class="whiteButton">AGREGADO</button>
                            </div>
                          </div>
                        </div>
                    </div>
                    </div>
                    <div class="row descarga" *ngIf="comprados?.length > 0">
                        <div class="col-md-9 col-xs-12">
                          <p>{{iva_usuario}}</p>
                        </div>
                        <div class="col-md-3 col-xs-12">
                            <button (click)="descargarLista()" class="whiteButton">
                                <i class="fa fa-download" aria-hidden="true"></i>
								<p>LISTA DE PRECIOS</p>
							</button>
							<div class="text-center" id="loaderFile" style="display:none;">
								<span style="color:#0579ff; font-size:11px;">Generando archivo</span>
								<span style="color:#0579ff; font-size:11px;">Por favor espere</span>
								<div><img [ngClass]="'lazyload'" data-src="./assets/images/loader/ajax-loader.gif" /></div>
							</div>
                        </div>
                    </div>
                    <div class="row" *ngIf="!comprados?.length">
                      <h3 class="misFrecuentesTitle">TODAVIA NO HAY ARTICULOS PARA MOSTRAR</h3>
                    </div>
                  </div>
                  <div class="col-md-3  col-xs-12 columnaSide">
                    <div class="side">
                      <input class="whiteButton blueButton" type="button" routerLink="/como-comprar" value="¿COMO COMPRAR?">
                      <button (click)="descargarLista()" class="whiteButton">
                          <i class="fa fa-download" aria-hidden="true"></i>
                          <p>LISTA DE PRECIOS</p>
                      </button>
					  <div class="text-center" id="loaderFile" style="display:none;">
							<span style="color:#0579ff; font-size:11px;">Generando archivo</span>
							<span style="color:#0579ff; font-size:11px;">Por favor espere</span>
							<div><img [ngClass]="'lazyload'" data-src="./assets/images/loader/ajax-loader.gif" /></div>
						</div>
                      <ul>
                        <li *ngFor="let item of ListaItems; let i = index" [class.active]="transaccion.check(i)" (click)="cambioTab(i)">
                          <div class="list">
                            <div class="img"><img [ngClass]="'lazyload'" [attr.data-src]="item.model" alt=""></div>
                            <p>
                              {{item.texto}}
                            </p>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Mi ultima compra Tab -->
            <div class="tab__item ultimaCompra" *ngIf="transaccion.paso === 3">
              <div class="content">
                <div class="row tab__item__header show__desktop">
                    <p>Tu número de Cliente es {{DatosUsuario.codigo}}</p>
                    <p>{{ListaItems[transaccion.paso].texto}}</p>
                </div>
                <div class="row tab__item__header show__mobile">
                    <p>Nº de Cliente: {{DatosUsuario.codigo}}</p>
                    <p>{{ListaItems[transaccion.paso].texto}}</p>
                </div>
                <div class="row">
                  <div class="col-md-9 col-xs-12">
                    <ngb-accordion *ngIf="ultimasCompras?.length" #acc="ngbAccordion" closeOthers="true">
                        <ngb-panel *ngFor="let compra of ultimasCompras; let i = index" id="compra{{i}}">
                          <ng-template ngbPanelTitle>
                            <div class="header" style="font-weight: bold;">
                              Compra del {{compra.fechaPedido?.date.date}}/{{compra.fechaPedido?.date.month}}/{{compra.fechaPedido?.date.year}} <span>&#x25B2;</span>
                            </div>
                          </ng-template>
                          <ng-template ngbPanelContent>
                              <div class="misFrecuentes">
                                  <div class="row misFrecuentesHeader">
                                    <div class="col-1"><div class="border">Cantidad</div></div>
                                    <div class="col-2"><div class="border">Descripcion</div></div>
                                    <div class="grupo">
                                      <div class="col-3"><div class="border">Precio Unitario</div></div>
                                      <div class="col-4"><div class="border">Subtotal</div></div>
                                    </div>
                                  </div>
                                <div class="row misFrecuentesRow" *ngFor="let item of compra.items">
                                    <div class="col-1">
                                      <p style="margin-left: 5px;"> {{item.cantidad}}</p>
                                    </div>
                                    <div class="col-2">
                                      <p class="misFrecuentesDescripcion">{{item.producto.titulo}}</p>
                                    </div>
                                    <div class="grupo">
                                      <div class="col-3">
                                        <p>${{formatMoney(item.producto.precio)}}</p>
                                      </div>
                                      <div class="col-4">
                                        <p>${{formatMoney(item.subtotal)}}</p>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row misFrecuentesTotal">
                                    <div class="col-2">
                                      <button class="actionButton" (click)="repetirPregunta(compra)" style="width: 50%;">REPETIR COMPRA</button>
                                      <!--<a href="#"> -->
                                      <a target="_blank" rel="noopener noreferrer" [href]="compra.urlPdf" *ngIf="compra.urlPdf">
                                      <button class="whiteButton" style="width: 150px; padding: 5px 25px;">
                                        VER PEDIDO
                                      </button>
                                      </a>
                                      </div>
                                    <div class="col-1"></div>
                                    <div class="col-3">
                                          <p style="margin-top: 16px; font-weight: bold;">TOTAL</p>
                                    </div>
                                    <div class="col-4">
                                      <p style="margin-top: 10px;font-size: 20px;font-weight: bold;">${{formatMoney(compra.total)}}</p>
                                    </div>
                                  </div>
                              </div>
                          </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                    <div class="row" *ngIf="!ultimasCompras?.length">
                        <h3 class="misFrecuentesTitle">TODAVIA NO SE REGISTRAN COMPRAS ANTERIORES PARA MOSTRAR</h3>
                    </div>
                    <div *ngIf="repetirFlag" class="modal__container" (click)="closeRepetir($event)">
                        <div role="document" class="modal-dialog">
                          <div class="modal-content">
                          <div class="modal-header">
                          <h4 class="modal-title">REPETIR COMPRA</h4>
                          <button aria-label="Close" class="close" type="button">
                          <span aria-hidden="true" (click)= "transaccion.cambio(0)">×</span>
                          </button>
                          </div>
                          <div class="modal-body">
                          <p>Al repetir la compra se van a eliminar todos los productos actuales en el carrito y se van a agregar los de la anterior compra seleccionada. ¿Quiere proceder?</p>
                          </div>
                          <div class="modal-footer">
                              <button class="actionButton" type="button" (click)= "repetirCompra()">ACEPTAR</button>
                              <button class="whiteButton" type="button" (click)= "repetirCancelar()" >CANCELAR</button>
                            </div>
                          </div>
                          </div>
                    </div>
                  </div>
                  <div class="col-md-3  col-xs-12 columnaSide">
                    <div class="side">
                      <input class="whiteButton blueButton" type="button" routerLink="/como-comprar" value="¿COMO COMPRAR?">
                      <button (click)="descargarLista()" class="whiteButton">
                          <i class="fa fa-download" aria-hidden="true"></i>
                          <p>LISTA DE PRECIOS</p>
                      </button>
					  <div class="text-center" id="loaderFile" style="display:none;">
							<span style="color:#0579ff; font-size:11px;">Generando archivo</span>
							<span style="color:#0579ff; font-size:11px;">Por favor espere</span>
							<div><img [ngClass]="'lazyload'" data-src="./assets/images/loader/ajax-loader.gif" /></div>
						</div>
                      <ul>
                        <li *ngFor="let item of ListaItems; let i = index" [class.active]="transaccion.check(i)" (click)="cambioTab(i)">
                          <div class="list">
                            <div class="img"><img [ngClass]="'lazyload'" [attr.data-src]="item.model" alt=""></div>
                            <p>
                              {{item.texto}}
                            </p>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Cerrar sesion Tab -->
            <div class="tab__item" *ngIf="transaccion.paso === 4">
                <div class="content">
                  <div class="row tab__item__header show__desktop">
                      <p>Tu número de Cliente es {{DatosUsuario.codigo}}</p>
                      <p>{{ListaItems[transaccion.paso].texto}}</p>
                  </div>
                  <div class="row tab__item__header show__mobile">
                      <p>Nº de Cliente: {{DatosUsuario.codigo}}</p>
                      <p>{{ListaItems[transaccion.paso].texto}}</p>
                  </div>
                  <div class="row">
                    <div class="col-md-9 col-xs-12">
                      <div class="modal__container" (click)="closeFull($event)">
                          <div role="document" class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                            <h4 class="modal-title">CERRAR SESIÓN</h4>
                            <button aria-label="Close" class="close" type="button">
                            <span aria-hidden="true" (click)= "transaccion.cambio(0)">×</span>
                            </button>
                            </div>
                            <div class="modal-body">
                            <p>¿Estas seguro que deseas cerrar sesión?</p>
                            </div>
                            <div class="modal-footer">
                                <button class="actionButton" type="button" (click)= "closeSession()" [routerLink]="['/']">ACEPTAR</button>
                                <button class="whiteButton" type="button" (click)= "transaccion.cambio(0)" >CANCELAR</button>
                              </div>
                            </div>
                            </div>
                      </div>
                    </div>
                    <div class="col-md-3  col-xs-12 columnaSide">
                      <div class="side">
                        <input class="whiteButton blueButton" type="button" routerLink="/como-comprar" value="¿COMO COMPRAR?">
                        <button (click)="descargarLista()" class="whiteButton">
                            <i class="fa fa-download" aria-hidden="true"></i>
                            <p>LISTA DE PRECIOS</p>
                        </button>
						<div class="text-center" id="loaderFile" style="display:none;">
							<span style="color:#0579ff; font-size:11px;">Generando archivo</span>
							<span style="color:#0579ff; font-size:11px;">Por favor espere</span>
							<div><img [ngClass]="'lazyload'" data-src="./assets/images/loader/ajax-loader.gif" /></div>
						</div>
                        <ul>
                          <li *ngFor="let item of ListaItems; let i = index" [class.active]="transaccion.check(i)" (click)="cambioTab(i)">
                            <div class="list">
                              <div class="img"><div class="img"><img [ngClass]="'lazyload'" [attr.data-src]="item.model" alt=""></div></div>
                              <p>
                                {{item.texto}}
                              </p>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>
