<ng-sidebar-container>
    <ng-sidebar [(opened)]="_opened" [mode]="_MODES[_option]">
        <app-sidebar></app-sidebar>
    </ng-sidebar>
    <div ng-sidebar-content class="ventana" #ventana (click)="eventoclick($event)">
        <div class="mensaje" [ngClass]="{'mensaje__activo': sticky.activo}">
            <div class="container">
                <p>{{sticky.mensaje}}</p>
                <a class="actionButton" href={{sticky.link}}>{{sticky.call_to_action}}</a>
                <i (click)="sticky.activo = false" class="fa fa-times-circle"></i>
            </div>
        </div>
        <app-header
            [greetMessage]="childmessage"
            [headerStatus]="menuStatus"
        ></app-header>
        <router-outlet></router-outlet>
        <div class="modal__container" [ngClass]="{'modalHide': loginStatus}" (click)="closeFull($event)">
            <div role="document" class="modal-dialog">
              <div class="loading" [ngClass]="{'loaded': !loginLoading}">
                    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
              </div>
              <div class="modal-content">
              <div class="modal-header">
                <img class="desktop" src="./assets/images/header/logo_azul.png" alt="Sina" height="34">
                <img class="mobile" src="./assets/images/header/logo_mobile_azul.png" alt="Sina" height="34">
              <h4 class="modal-title desktop">{{registrarStatus ? "Registrando nuevo usuario" : "Bienvenido / Bienvenida"}}</h4>
              <h4 class="modal-title movil">{{registrarStatus ? "Registro en 3 pasos" : "Bienvenido / Bienvenida"}}</h4>
              <button aria-label="Close" class="close" type="button" (click)= "closeModal()">
              <span aria-hidden="true">×</span>
              </button>
              </div>
              <div class="modal-body">
                  <div class="row" style="display: flex; align-items: center;" *ngIf="!registrarStatus">
                      <div class="col-xs-12 col-md-6 modal__texto">
                        <img src="./assets/images/home/login.png" alt="Sina">
                      </div>
                      <div class="col-xs-12 col-md-6 modal__registrar" *ngIf="!recuperarClave">
                        <p>Si ya tenes usuario:</p>
                        <input type="text" [(ngModel)]="login.user" name="user" placeholder="Usuario" (keydown)="enterLogin($event)">
                        <input type="password" [(ngModel)]="login.pass" name="pass" placeholder="Contraseña" (keydown)="enterLogin($event)">
                        <button class="btn btn-outline-dark actionButton" type="button"(click)="loginModal(login.user, login.pass)">INGRESAR</button>
                        <p style="color: #F44336; margin-top: 5px;" *ngIf="login.error">{{login.errorMsg || "Error en el logeo"}}</p>
                        <a (click)="recuperarClave = true">Olvide la contraseña</a>
                      </div>
                      <div class="col-xs-12 col-md-6 modal__registrar" *ngIf="recuperarClave">
                        <p *ngIf="!recuperarOk">Ingrese su email para recuperar la contraseña de su cuenta:</p>
                        <input *ngIf="!recuperarOk" type="text" [(ngModel)]="login.user" name="user" placeholder="Email" (keydown)="enterRecuperar($event)">
                        <p style="color: #00C973; margin-top: 5px; text-align: center;" *ngIf="recuperarOk">{{recuperarOk}}</p>
                        <p style="color: #F44336; margin-top: 5px;" *ngIf="recuperarError">{{recuperarError}}</p>
                        <button *ngIf="!recuperarOk" class="btn btn-outline-dark actionButton" type="button"(click)="enterRecuperarEvento()">RECUPERAR CONTRASEÑA</button>
                        <a (click)="recuperarClave = false; recuperarOk = ''; recuperarError = ''">Iniciar Sesión</a>
                      </div>
                    </div>
                    <div class="row" *ngIf="registrarStatus" >
                        <div class="row" id="pasostitle">
                            <p>Registrate en 3 simples pasos</p>
                        </div>
                        <div class="steps desktop">
                            <ul class="steps__bar">
                                <li [ngClass]="{'active': _step >= 1}">Solicitud de Alta</li>
                                <li [ngClass]="{'active': _step >= 2}">Datos de Entrega</li>
                                <li [ngClass]="{'active': _step >= 3}">Confirmación de Datos</li>
                            </ul>
                            <div class="steps">
                                <div class="steps__item"></div>
                            </div>
                        </div>

                        <div class="steps movil">
                            <ul class="steps__bar">
                                <li [ngClass]="{'active': _step >= 1}"></li>
                                <li [ngClass]="{'active': _step >= 2}"></li>
                                <li [ngClass]="{'active': _step >= 3}"></li>
                            </ul>
                            <div class="steps">
                                <div class="steps__item"></div>
                            </div>
                        </div>


                        <div *ngIf="_step === 1" class="row stepsContent">
                            <div class="col-xs-12 col-md-6 modal__registrar" style="padding: 5px">
                                <input #input_razon_social [ngClass]="{'noValidado': validador?.razon_social}" type="text" placeholder="Nombre o razón social*" [(ngModel)]="contacto.razon_social" name="razon_social">
                                <input type="text" placeholder="Nombre de fantasia" [(ngModel)]="contacto.nombre_fantasia" name="nombre_fantasia">
                                <input #input_email [ngClass]="{'noValidado': validador?.email}" type="text" placeholder="Email*" [(ngModel)]="contacto.email" name="email">
                                <span *ngIf="validationEmail" style="color: red;">Formato incorrecto de email</span>
                                <ng-select #responsable style="max-height: 32px; margin: 6px 0px;" [ngClass]="{'noValidado': validador?.cat_selected}"
                                    [clearable]="true"
                                    bindLabel="text"
                                    bindValue="codigo"
                                    (change)="refreshCUIT($event)"
                                    ng-model="cat_selected"
                                    placeholder="CAT. IVA.*"
                                    (focus)="focusResponsable()"
                                >
                                    <ng-option *ngFor="let country of data.reponsable_lista" [value]="country.codigo">
                                    {{country.text}}
                                    </ng-option>
                                </ng-select>

                                <!-- <select class="custom__select"
                                        #responsable
                                        ng-model="cat_selected"
                                        (change)="refreshCUIT($event.target.value)"
                                        placeholder="CAT. IVA.*"
                                        [ngClass]="{'noValidado': validador?.cat_selected}">
                                    <option value="0">CAT. IVA.*</option>
                                    <option *ngFor="let country of data.reponsable_lista"
                                            [value]="country.codigo"
                                            class="custom__select--option" value="1">
                                        {{ country.text }}
                                    </option>
                                </select> -->



                                <input #input_cuit [ngClass]="{'noValidado': validador?.cuit}" type="text" [placeholder]="cuit" [(ngModel)]="contacto.cuit" name="cuit">
                                <span *ngIf="validationCUIT" style="color: red;">Solo usar números en el campo CUIT/DNI</span>
                                <input #input_telefono [ngClass]="{'noValidado': validador?.telefono}" type="text" placeholder="Teléfono*" [(ngModel)]="contacto.telefono" name="telefono">
                                <span *ngIf="validationTelefono" style="color: red; font-size: 0.9em;">Solo se permiten números y guiones para el teléfono</span>
                                <input #input_celular [ngClass]="{'noValidado': validador?.telefono_celular}" type="text" placeholder="Teléfono celular" [(ngModel)]="contacto.telefono_celular" name="telefono_celular">
                                <span *ngIf="validationCelular" style="color: red; font-size: 0.9em;">Solo se permiten números y guiones para el celular</span>
                            </div>
                            <div class="col-xs-12 col-md-6 modal__registrar" style="padding: 5px">
                                <div class="contenedor_de_input" style="display: flex; justify-content: space-between">
                                    <input style="width: calc(100% - 110px);" type="text" placeholder="Domicilio" [(ngModel)]="contacto.domicilio_direccion" name="domicilio_direccion">
                                    <input style="width: 100px;" type="number" placeholder="Número" [(ngModel)]="contacto.domicilio_numero" name="domicilio_numero">
                                </div>
                                <input #input_ciudad [ngClass]="{'noValidado': validador?.domicilio_ciudad}" type="text" placeholder="Localidad*" [(ngModel)]="contacto.domicilio_ciudad" name="domicilio_ciudad">
                                <input type="text" placeholder="Código Postal"  [(ngModel)]="contacto.domicilio_codigo_postal" name="domicilio_codigo_postal">
                                <ng-select #provincia_value [ngClass]="{'noValidado': validador?.domicilio_provincia}" style="max-height: 32px; margin: 6px 0px;"
                                    [clearable]="true"
                                    [items]="provincia"
                                    (change)="refreshProvincia($event)"
                                    ng-model="domicilio_provincia"
                                    placeholder="Provincia*"
                                    (focus)="focusProvincia()"
                                >
                                </ng-select>
                                <input #input_contrasena [ngClass]="{'noValidado': validador?.checkcontrasena, 'noValidado': validador?.contrasena}" [(ngModel)]="contacto.contrasena" name="contrasena" type="password" placeholder="Contraseña*">
                                <span *ngIf="validationPassword" style="color: red; font-size: 0.9em;">La contraseña debe contener al menos 6 caracteres</span>
                                <input #input_check_contrasena [ngClass]="{'noValidado': validador?.checkcontrasena}" [(ngModel)]="contacto.contrasenaRepetida" name="contrasenaRepetida" type="password" placeholder="Repetir contraseña*">
                                <span *ngIf="validationCheckPassword" style="color: red;">Las contraseñas no son iguales</span>
                            </div>
                        </div>
                        <div class="row stepsContent" *ngIf="_step === 2">
                            <div class="col-xs-12 col-md-12 modal__registrar" style="padding: 5px">
                                    <input type="text" placeholder="Persona de contacto" [(ngModel)]="contacto.nombre_responsable_compras" name="nombre_responsable_compras">
                                    <div class="contenedor_de_input" style="display: flex; justify-content: space-between">
                                        <input style="width: calc(100% - 110px);" type="text" placeholder="Domicilio de entrega" [(ngModel)]="contacto.envio_domicilio_direccion" name="envio_domicilio_direccion">
                                        <input style="width: 100px;" type="number" placeholder="Número" [(ngModel)]="contacto.entrega_domicilio_numero" name="entrega_domicilio_numero">
                                    </div>
                                    <div class="contenedor_de_input" style="display: flex; justify-content: space-between">
                                            <input style="width: 49%" type="text" placeholder="Localidad de entrega" [(ngModel)]="contacto.envio_domicilio_ciudad" name="envio_domicilio_ciudad">
                                            <input style="width: 49%" type="text" placeholder="Código postal" [(ngModel)]="contacto.envio_domicilio_codigo_postal" name="envio_domicilio_codigo_postal">
                                    </div>
                                    <ng-select #provincia_value2 style="max-height: 32px; margin: 6px 0px;"
                                        placeholder="Provincia de entrega"
                                        [clearable]="true"
                                        [items]="provincia"
                                        (remove)="deleteProvincia2()"
                                        (change)="refreshProvincia2($event)"
                                        ng-model="envio_provincia"
                                        (focus)="focusProvincia2()"
                                    >
                                    </ng-select>
                            </div>
                        </div>
                        <div class="row stepsContent" *ngIf="_step === 3">
                            <div class="notProcessing" *ngIf="!processing.started">
                                <div class="col-xs-12 col-md-6 modal__registrar final" style="padding: 10px">
                                    <p><b>Nombre o razón social: </b>{{ckeckItem(contacto.razon_social).text}}</p>
                                    <p *ngIf="contacto.nombre_fantasia"><b>Nombre de fantasia: </b>{{contacto.nombre_fantasia}}</p>
                                    <p><b>Email: </b>{{ckeckItem(contacto.email).text}}</p>
                                    <p><b>CAT. IVA.: </b>{{ckeckItem(cativa).text}}</p>
                                    <p><b>Localidad: </b>{{ckeckItem(contacto.domicilio_ciudad).text}}</p>
                                    <p *ngIf="contacto.domicilio_direccion"><b>Dirección: </b>{{(contacto.domicilio_direccion) + " " + contacto.domicilio_numero}}</p>
                                </div>
                                <div class="col-xs-12 col-md-6 modal__registrar final" style="padding: 10px">
                                    <p><b>Teléfono: </b>{{ckeckItem(contacto.telefono).text}}</p>
                                    <p *ngIf="(contacto.telefono_celular)"><b>Teléfono celular: </b>{{contacto.telefono_celular}}</p>
                                    <p><b>DNI o CUIT.: </b>{{ckeckItem(contacto.cuit).text}}</p>
                                    <p><b>C.P.: </b>{{ckeckItem(contacto.domicilio_codigo_postal).text}}</p>
                                    <p><b>Provincia: </b>{{ckeckItem(contacto.domicilio_provincia).text}}</p>
                                </div>
                                <div class="col-xs-12">
                                    <textarea [(ngModel)]="contacto.actividad" name="actividad" id="actividad" cols="30" rows="3" placeholder="BREVE DESCRIPCIÓN DE ACTIVIDAD"></textarea>
                                </div>
                            </div>
                            <div class="processing" *ngIf="processing.started">
                                <div class="loading" *ngIf="processing.right_now">
                                    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                                </div>
                                <div class="response" *ngIf="!processing.right_now">
                                    <img class="processing__icono" *ngIf="!response.error" src="./assets/images/registro/confirmacion.png" alt="Sina" height="50">
                                    <img class="processing__icono" *ngIf="response.error" src="./assets/images/registro/error.png" alt="Sina" height="50">
                                    <pre>{{response.mensaje}}</pre>
                                    <button  *ngIf="response.error" class="whiteButton" style="width: 50%;" type="button" (click)="response.value()">{{response.action}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row" *ngIf="!registrarStatus">
                        <div class="col-xs-12 col-md-6 footer__col">
                            <p>Aun no tienes usuario:</p>
                            <button class="whiteButton" type="button" [routerLink]="['/']" (click)="_toggleRegistrarStatus()">REGISTRATE</button>
                        </div>
                        <div class="col-xs-12 col-md-6 footer__col">
                            <button type="button" class="facebook"> CONTINUAR CON FACEBOOK </button>
                        </div>
                    </div>
                    <div class="row" *ngIf="registrarStatus && !processing.started">
                        <button class="btn btn-outline-dark actionButton" type="button"(click)="_anteriorStep()">{{_step === 1 ? "CANCELAR" : "ANTERIOR"}}</button>
                        <button class="btn btn-outline-dark actionButton" style="margin-bottom: 5px;"   type="button"(click)="_changeStep()">{{_step === 3 ? "REGISTRATE" : "SIGUIENTE"}}</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="modal__container" [ngClass]="{'modalHide': carritoStatus}" (click)="closeFull2($event)">
            <div role="document" class="modal-dialog" style="width: 950px;">
                <div class="modal-content">
                <div class="modal-header">
                <img src="./assets/images/header/logo_azul.png" alt="Sina" height="34">
                <h4 class="modal-title">Tiene un carrito pendiente</h4>
                <button aria-label="Close" class="close" type="button" (click)= "carritoCancelModal()">
                <span aria-hidden="true">×</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="card">
                            <h3 class="card-header">{{childmessage.length}} compras pendientes</h3>
                            <div class="card-block" style="overflow-y: scroll; height: 350px; overflow-x: hidden;">
                                <div class="row carrito__header">
                                    <div class="col-1">
                                        <div class="border">
                                        <p>Cantidad</p>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="border">
                                            <p>Descripcion</p>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="border">
                                        <p>Precio Unitario</p>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="border">
                                        <p>Subtotal</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row carrito__content" *ngFor="let compra of childmessage">
                                    <div class="col-1">
                                        <input type="number" name="cantidad" id="cantidad" (input)="updateValue()" [(ngModel)]="compra.cantidad" value="{{compra.cantidad}}">
                                    </div>
                                    <div class="col-2">
                                        <p>{{compra.descripcion}}</p>
                                    </div>
                                    <div class="col-3">
                                        <p>${{formatMoney(compra.precio)}}</p>
                                    </div>
                                    <div class="col-4">
                                        <p>${{updatePrecio(compra.precio, compra.cantidad)}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer carrito">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 footer__col">
                            <button class="actionButton" type="button" (click)="carritoModal()">CONTINUAR COMPRA</button>
                        </div>
                        <div class="col-xs-12 col-md-6 footer__col">
                            <button type="button" class="whiteButton" (click)="carritoCancelModal()"> CANCELAR </button>
                        </div>
                    </div>
                </div>
                </div>
                </div>
        </div>
        <div class="modal__container" [ngClass]="{'modalHide': !actualEmergenteFlag }" (click)="closeEmergente($event)">
                <div role="document" class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="padding: 0;">
                            <img [src]="actualEmergente['img'] || ''" alt="Sina" style="position: relative; bottom: 0px; left: 0px; width: 100%;">
                            <button aria-label="Close" class="close" type="button" (click)= "closeEmergente2()">
                            <span aria-hidden="true">×</span>
                        </button>
                        </div>
                    </div>
                </div>
        </div>
        <div class="modal__container" [ngClass]="{'modalHide': representarStatus}" (click)="closeFullRepresentar($event)">
            <div class="loading" [ngClass]="{'loaded': !loginLoading}">
                <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
            </div>
            <div role="document" class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                <img src="./assets/images/header/logo_azul.png" alt="Sina" height="34">
                <h4 class="modal-title">Cuentas disponibles para representación</h4>
                <button aria-label="Close" class="close" type="button" (click)= "representarCancel()">
                <span aria-hidden="true">×</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="card">
                            <h3 class="card-header">Seleccioná alguna de las {{cuentasRepresentar.length}} cuentas que puede representar</h3>
                            <div class="buscador_cuenta">
                                    <input type="text" placeholder="Escriba para filtrar por Nombre/Razón Social o CUIT" [(ngModel)]="filterBusqueda" style="    width: 100%;
                                    border: none;
                                    padding: 5px 10px;">
                                </div>
                            <div class="card-block" style="max-height: 200px; overflow-y: scroll; overflow-x: hidden;">
                                <div class="row carrito__header">
                                    <div class="col-rep-3">
                                        <div class="border">
                                        <p>Selección</p>
                                        </div>
                                    </div>
                                    <div class="col-rep-4">
                                        <div class="border">
                                            <p>CUIT</p>
                                        </div>
                                    </div>
                                    <div class="col-rep-5">
                                        <div class="border">
                                        <p>Nombre o razón social</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row carrito__content" *ngFor="let cuenta of cuentasRepresentar | cuentasFilter: filterBusqueda; let $index = index" >
                                    <div class="col-rep-3">
                                        <div class="border">
                                            <input [value]="cuenta.id" [checked]="$index === 0" type="radio" [(ngModel)]="cuenta.seleccion" name="opcionCuenta" (click)="seleccionarCuenta(cuenta)" style="padding: 0; margin: auto;">
                                        </div>
                                    </div>
                                    <div class="col-rep-4">
                                        <p>{{cuenta.cuit}}</p>
                                    </div>
                                    <div class="col-rep-5">
                                        <p>{{cuenta.razon_social}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p style="font-weight: bold; color: red; margin-left: 35px; margin-top: 20px; margin-bottom: -10px;">{{cuentaRespuesta}}</p>
                <div class="modal-footer carrito">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 footer__col">
                            <button class="actionButton" type="button" (click)="representarCuenta(cuentaSeleccionada)">REPRESENTAR CUENTA</button>
                        </div>
                        <div class="col-xs-12 col-md-6 footer__col">
                            <button type="button" class="whiteButton" (click)="cerrarRepresentarCuenta()"> CERRAR SESIÓN </button>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="modal__container" [ngClass]="{'modalHide': migrandoStatus}" (click)="closeFull3($event)">
            <div role="document" class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                <img src="./assets/images/header/logo_azul.png" alt="Sina" height="34">
                <h4 class="modal-title">Migrando datos</h4>
                <button aria-label="Close" class="close" type="button" (click)= "migrandoCancelModal()">
                <span aria-hidden="true">×</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div *ngIf="!login.confirMsg" class="card">
                            <h3 class="card-header">¡Bienvenido! Ingrese los datos de confirmación</h3>
                            <div class="card-block" style="display: flex;">
                                <div class="col-xs-12 col-md-6" style="display: flex;flex-direction: column;">
                                    <input style="width: 100%; margin-bottom: 10px;" type="text" [(ngModel)]="auth.email"  disabled="disabled">
                                    <input style="width: 100%;" type="text" [(ngModel)]="auth.razonsocial"  disabled="disabled">
                                </div>
                                <div class="col-xs-12 col-md-6" style="display: flex;flex-direction: column;">
                                    <input style="width: 100%; margin-bottom: 10px;" type="password" placeholder="Nueva contraseña" [(ngModel)]="migracion.pass_original" >
                                    <input style="width: 100%;" type="password" placeholder="Repetir contraseña" [(ngModel)]="migracion.pass_repetido" name="migracion_pass_repetido">
                                </div>
                            </div>
                            <div class="card-block">
                                <div class="col-xs-12 col-md-12" style="float: none;">
                                    <p style="color: #F44336; margin-top: 5px;" *ngIf="login.error">{{login.errorMsg || "Error en el logeo"}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="card" *ngIf="login.confirMsg">
                            <h3 class="card-header">Mensaje de confirmación</h3>
                            <div class="card-block">
                                <p>{{login.confirMsg}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer carrito">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 footer__col">
                            <button *ngIf="!login.confirMsg" class="actionButton" type="button" (click)="migrandoModal()">CONFIRMAR DATOS</button>
                        </div>
                        <div class="col-xs-12 col-md-6 footer__col">
                            <button type="button" class="whiteButton" (click)="migrandoCancelModal()"> {{login.confirMsg ? "CERRAR" : "CANCELAR"}} </button>
                        </div>
                    </div>
                </div>
                </div>
                </div>
        </div>
        <app-footer></app-footer>
    </div>
</ng-sidebar-container>
