.sidenavMenu {
    background: #057aff;
    height: 100%;
    width: 70vw;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidenavMenu > div {
    margin: 0px;
}
.sidenavMenu .listado > a{
    display: block;
    font-size: 15px;
    background: #e1e1e1;
    color: #057aff;
    padding: 15px 20px;
    margin-bottom: 0;
    text-align: center;
}
.subcategorias ul,
.sidenavMenu .listado .items {
    list-style-type: none;    
    padding: 0px 15px;
}
.sidenavMenu .listado .items > li{
    padding: 6px 0px;
    border-bottom: 1px solid #e1e1e1;
}    
.sidenavMenu .listado .items > li:last-child {
    border: none;
}
.sidenavMenu .listado .items > li:first-child:before {
    content: '';
    display: block;
    position: absolute;
    left: 20px;
    top: -8px;
    border-bottom: 8px solid #00a651;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}
.sidenavMenu .listado .items > li a {
    padding: 0px 20px;
}
.sidenavMenu .listado .items > li > a *{
    display: inline-block;
    color: #fff;
    margin: 0px 5px;
    vertical-align: middle;
}
.subcategorias {
    background: #f5f5f5;
    height: 100vh;
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    display: none;
    height: calc(100vh - 110px);
    overflow: scroll;
    scrollbar-width: none;
}
.toggleSubCategorias__hija, 
.toggleSubCategorias {
    display: block;
}
.subcategorias > a {
    display: block;
    font-size: 25px;
    background: #00c973;
    color: #fff;
    padding: 5px 0px !important;
    margin-bottom: 0;
    text-align: center;
    font-weight: bold;
}
.subcategorias .section {
    margin: 10px 0px;
}
.subcategorias .section .title {
    font-weight: bold;
    font-size: 16px;
}
.sesion {
    width: 100%;
    background: #0379ff;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sesion * {
    display: inline;
    margin: 0px 5px;
    cursor: pointer;
}
.cuenta {
    flex-direction: row;
        display: flex !important;
        align-items: center;
        margin: 0 !important;
}

@media only screen and (max-width: 480px) {
  .sidenavMenu {
    height: calc(100vh - 56px);
  }
}
.sidenavMenu .row {
    margin: 0;
}
.ng-sidebar--left {
    background: #0379ff;
}