<div class="sidenavMenu">
    <div class="top">
        <div class="row">
            <div class="col-xs-10">
                <a class="navbar-brand" [routerLink]="['/']" (click)="toggleSideBar()">
                    <img [ngClass]="'lazyload'" data-src="./assets/images/header/logo.png" alt="Sina" width="100">
                </a>
            </div>
            <div class="col-xs-2">
                <div class="menu" [ngClass]="SideStateIcon">
                    <i (click)="toggleMenu()" class="fa fa-bars" aria-hidden="true" style="font-size: 25px; color: #fff; margin-top: 15px;"></i>          
                </div>  
            </div>
        </div>
        <div class="row" style="    display: flex;
        justify-content: space-around;
        padding: 5px;">
            <div class="telefono">
                <div (click)="toggleSideBar()" style="    
                    cursor: pointer;
                    background: #0083ff;
                    border-radius: 25px;
                    margin: 0px 5px;
                    padding: 8px;" routerLink="contacto">
                    <img [ngClass]="'lazyload'" data-src="./assets/images/header/phone.png" alt="telefono" width="24">
                </div>
                </div>
                <div (click)="toggleSideBar()" class="whatsapp">
                <div style="    
                    cursor: pointer;
                    background: #0083ff;
                    border-radius: 25px;
                    padding: 8px;">
                    <a target="_blank" href="https://wa.me/5491123145727?text=Hola">
                    <img [ngClass]="'lazyload'" data-src="./assets/images/header/whatsapp.png" alt="whatsapp" width="24">
                    </a>
                </div>
                </div>
                <div class="email">
                <div (click)="toggleSideBar()" style="    
                    cursor: pointer;
                    background: #0083ff;
                    border-radius: 25px;
                    margin: 0px 5px;
                    padding: 8px;">
                    <a href="mailto:infoweb@sina.com.ar">
                    <img [ngClass]="'lazyload'" data-src="./assets/images/header/email.png" alt="email" width="24">
                    </a>
                </div>
                </div>
        </div>
        <div class="row listado">
            <ul class="items">
                <li *ngFor="let item of LinkList; let itemIndex = index" class="nav-item" style="min-height: 51px;">
                    <a class="nav-link" (click)="changeStyleClick(itemIndex + 1)" style="margin: auto;">
                        <img width="30" [ngClass]="'lazyload'" [attr.data-src]="item.img1" alt="">
                        <p style="width: 45%;">{{item.texto}}</p><span style="float: right; padding-top: 5px; min-width: 15px;">&#8827;</span>
                    </a>
                    <div class="subcategorias column" [ngClass]="{'toggleSubCategorias': (LinkIndex === (itemIndex + 1))}">
                        <a class="nav-link" (click)="changeStyleClick(itemIndex + 1)">Volver</a>
                        <div class="section" *ngFor="let section of item.links; let ItemIndexLink = index;">
                                <a *ngIf="(LinkIndexHija === 0) && (section.items.length === 0)" (click)="changeStyleClickHija(ItemIndexLink + 1, section)" [routerLink]="section.head.link" class="title" style="
                                    width: 90%;
                                    display: inline-block;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                    white-space: nowrap;
                                    "
                                >{{section.head.texto}}</a><span *ngIf="(LinkIndexHija === 0) && (section.items.length === 0)" style="float: right; min-width: 15px; color: rgb(51, 122, 183);">&#8827;</span>
                                <a *ngIf="(LinkIndexHija === 0) && (section.items.length !== 0)" (click)="changeStyleClickHija(ItemIndexLink + 1, section)" class="title" style="
                                    width: 90%;
                                    display: inline-block;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                    white-space: nowrap;
                                    "
                                >{{section.head.texto}}</a><span *ngIf="(LinkIndexHija === 0) && (section.items.length !== 0)" style="float: right; min-width: 15px; color: rgb(51, 122, 183);">&#8827;</span>
                                <!--div *ngFor="let itemHija of section.items; let ItemIndexHija = index;" class="subcategorias column" [ngClass]="{'toggleSubCategorias__hija': (LinkIndexHija === (ItemIndexHija + 1))}" style="top: 0px;"-->        
                                <div *ngFor="let itemHija of section.items; let ItemIndexHija = index;" class="subcategorias column" [ngClass]="{'toggleSubCategorias__hija': (LinkIndexHija === (ItemIndexLink + 1))}" style="top: 0px;">
                                    <a class="nav-link" (click)="closeHija()">Volver</a>
                                    <div class="section" *ngFor="let itemHija of section.items;" >
                                        <a (click)="toggleSideBar()"[routerLink]="itemHija?.link" class="title" style="
                                                width: 90%;
                                                display: inline-block;
                                                text-overflow: ellipsis;
                                                overflow: hidden;
                                                white-space: nowrap;
                                            ">{{itemHija.texto}}</a><span style="float: right; min-width: 15px; color: rgb(51, 122, 183);">&#8827;</span>
                                    </div>
                                    <div class="section">
                                        <a (click)="toggleSideBar()"[routerLink]="section.head?.link" class="title" style="
                                                width: 90%;
                                                display: inline-block;
                                                text-overflow: ellipsis;
                                                overflow: hidden;
                                                white-space: nowrap;
                                            ">VER TODO</a><span style="float: right; min-width: 15px; color: rgb(51, 122, 183);">&#8827;</span>
                                    </div>
                                    <li class="nav-item">
                                      <a class="nav-link" routerLink="" (click)="itemClicked()"></a>
                                    </li>
                                </div>                        
                            </div>
                    </div>
                </li>
            </ul>
        </div>
        
    </div>
    <div class="sesion">
        <div class="cuenta" [routerLink]="['/cuenta']" *ngIf="UserLog" (click)="toggleSideBar()">
            <img [ngClass]="'lazyload'" data-src="./assets/images/header/user__verde.png" alt="User" width="40">
            <p style="color: #fff; 
            max-width: 130px;
            width: 100px;
            margin: 0px 10px;
            line-height: 14px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            display: block;

            " *ngIf="UserLog"> {{UserName || "Iniciar sesión"}} <br> {{UserJob || "Registrarse"}} </p>
        </div>
        <div class="cuenta" (click)="registrar()" *ngIf="!UserLog" style="width: calc(100% - 40px);">
            <div [ngClass]="{'pulsating_white': !UserLog}"></div>
            <img [ngClass]="'lazyload'" data-src="./assets/images/header/user__verde.png" alt="User" width="40" style="z-index: 2;">
            <p style="z-index: 2;">Iniciar sesión <br> Registrarse</p>
        </div>
        <div class="cerrar" *ngIf="UserLog" (click)="sidebarCerrarSesion()">
            <p> Cerrar sesión </p>
        </div>
    </div>
</div>
