<div class="row" style="background: #f8f8f8; margin: 0;">
  <div class="container">
    <div class="row" style="padding: 5px 45px;    padding-bottom: 0;">
        <div class="tab">
          <div class="tab__header">
            <p>{{secciones[transaccion.paso]}}</p>
            <ul>
              <li [class.active]="transaccion.check(0)"
                >Carrito<div class="arrow-pointer-1-up"></div><div class="arrow-pointer-1-down"></div></li>
              <li [class.active]="transaccion.check(1)"
                >Envío y facturación<div class="arrow-pointer-2-up"></div><div class="arrow-pointer-2-down"></div></li>
              <li [class.active]="transaccion.check(2)"
                >Confirmacion</li>
            </ul>
          </div>
          <div class="tab__content">
            <div *ngIf="config.mensajeCompraActivo" class="tab__item">
              <div class="content mensaje__compra">
                <div class="mensaje__compra__titulo">{{config.mensajeCompraTitulo}}</div>
                <div class="mensaje__compra__mensaje">{{config.mensajeCompraMensaje}}</div>
              </div>
            </div>
            <div class="tab__item" *ngIf="transaccion.paso === 0">
              <div class="content">
                <div class="row tab__item__header" *ngIf="config.switchComprasActivo">
                  <p>Tu código de Cliente es {{facturacion.datos.codigoCliente}}</p>
                  <button *ngIf="carrito.subtotal > config.montoMinimo" (click)="finalizarCompra()">Siguiente &#62;</button>
                  <span>{{secciones[transaccion.paso]}}</span>
                </div>
                <div class="row" *ngIf="config.switchComprasActivo">
                  <div class="col-xs-12 col-md-4 show__mobile">
                    <div class="row carrito__total__mobile" [ngClass]="{'borde__animado' : carrito.subtotal < config.montoEnvioGratis, 'envio' : carrito.subtotal >= config.montoEnvioGratis}" style="margin-bottom: 10px; position: relative;">
                      <div style="position: absolute; bottom: 3px; right: 8px; font-size: 0.8em;"><a href="https://sina.leren.com.ar/envios" target="_blank" rel="noopener noreferrer">Conocé más sobre envíos <i class="fa fa-external-link"></i></a></div>
                      <div class="row envio__total" style="font-weight: normal; color: #0579ff;" *ngIf="carrito.subtotal < config.montoEnvioGratis">
                        <p>TE FALTAN $ <strong style="padding-bottom: 3px">{{formatMoney(config.montoEnvioGratis - carrito.subtotal)}}</strong> PARA TENER <strong style="padding-bottom: 3px">ENVÍO SIN CARGO</strong></p>
                      </div>
                      <div class="row envio__total text-center" style="font-weight: normal;" *ngIf="carrito.subtotal >= config.montoEnvioGratis">
                        <p>ENVÍO SIN CARGO &#10004;</p>
                      </div>
                    </div>
                    <div class="row carrito__total__mobile" style="margin-top: 10px !important;">
                      <div class="row envio__total envio__total__confirmar">
                        <p>SUBTOTAL</p>
                        <h2>$ {{updateTotal(carrito.subtotal)}}</h2>
                        <span style="position: absolute; bottom: -27px; right: 20px; font-weight: initial;">{{iva_usuario.includes('NO INCLUYE') ? '+ I.V.A.' : (iva_usuario.includes('INCLUYE') ? 'I.V.A. INCLUIDO' : (iva_usuario.includes('FINAL') ? 'FINAL' : 'SUJETO A SU CONDICIÓN HABITUAL'))}}</span>
                      </div>
                      <div class="row compra__confirm" style="margin-top: 5px;">
                        <button *ngIf="carrito.subtotal >= config.montoMinimo && !showAgregado" class="actionButton" (click)="finalizarCompra()">FINALIZAR COMPRA</button>
                        <div *ngIf="carrito.subtotal < config.montoMinimo && !showAgregado">
                          <p style="margin-top: 30px; padding: 0px 15px; color: red;">La compra actual no supera el monto mínimo de $ {{formatMoney(config.montoMinimo)}}</p>
                        </div>
                        <p *ngIf="carrito.subtotal >= config.montoMinimo && carrito.subtotal < config.montoEnvio && !showAgregado" style="margin-top: 15px;">*Envíos únicamente a partir de ${{formatMoney(config.montoEnvio)}}<br>Cualquier consulta contactate con nosotros.</p>
                        <button *ngIf="carrito.subtotal > 0" type="button" class="whiteButton" style="margin-top: 25px; padding: 4px 10px;" (click)="showAgregado = !showAgregado">Es un agregado</button>
                        <div *ngIf="showAgregado" class="div__agregado">
                          <p style="padding-bottom: 10px;">Ingrese el Nro del pedido al que desea agregar los productos del carrito actual:</p>
                          <input class="form-control" type="number" min="1" name="idPedido" aria-label="ID Pedido" id="idPedido" placeholder="Nro del pedido" (keydown)="enterBusquedaAgregado($event)" [(ngModel)]="idPedidoAgregado">
                          <button class="busqueda__agregado" type="button"><i class="fa fa-search" aria-hidden="true" (click)="finalizarCompraAgregado()"></i></button>
                          <p *ngIf="showErrorAgregado" style="padding-top: 10px; color: red; text-align: center;">{{responseErrorAgregado}}</p>
                        </div>
                      </div>
                    </div>
                    <!--div class="row carrito__busqueda">
                      <h3>¿TENÉS UN CUPÓN?</h3>
                      <input type="number" value="1">
                      <button class="whiteButton">ACEPTAR</button>
                    </div-->
                  </div>
                  <div class="col-xs-12 col-md-8">
                    <div #inputCantidad class="carrito">
                      <div class="carrito__loading" *ngIf="carritoLoading">
                        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div>
                        </div>
                      </div>
                      <div class="row carrito__titulo">
                        <p style="font-weight: bold;">COMPRA ACTUAL</p>
                        <!-- <p style="font-size: 10px;margin-top: -8px;">{{carrito.hora}}</p> -->
                      </div>
                      <div class="row carrito__header">
                        <div class="col-1">
                          <div class="border">
                            <p>Cantidad</p>
                          </div>
                        </div>
                        <div class="col-2 mobile_padding_extra">
                          <div class="border">
                              <p>Descripcion</p>
                          </div>
                        </div>
                        <div class="col-3 mobile_padding_extra">
                          <div class="border">
                            <p>Precio</p>
                          </div>
                        </div>
                        <div class="col-4">
                          <div class="border">
                            <p>Subtotal</p>
                          </div>
                        </div>
                        <div class="col-5"></div>
                      </div>
                      <div class="row carrito__content" *ngFor="let compra of carrito.lista | sort:'id'">
                        <div class="col-1">
                          <input *ngIf="compra.cantPack === '1'" name="cantidad" aria-label="Cantidad" type="number" min="1" max="999999" (input)="updateValue()" [(ngModel)]="compra.cantidad" value="{{compra.cantidad}}" (keyup)="revisarCantidad($event)">
                          <select *ngIf="compra.cantPack !== '1'" name="cantidad" aria-label="Cantidad" (input)="updateValueDelayed()" [(ngModel)]="compra.cantidad">
                            <option *ngFor="let cant of compra.arrayCants" [ngValue]="cant">{{cant}}</option>
                          </select>
                        </div>
                        <div class="col-2">
                          <p>{{compra.descripcion}}</p>
                        </div>
                        <div class="col-3">
                          <p>${{corregirPrecio(compra.precio)}}</p>
                        </div>
                        <div class="col-4">
                          <p>${{updatePrecio(compra.precio, compra.cantidad)}}</p>
                        </div>
                        <div class="col-5">
                          <button class="eliminar" (click)="removeCompraItem(compra)">
                              <img class="eliminar--initial" width="18" [ngClass]="'lazyload'" data-src="./assets/images/iconos/Eliminar-producto.png" alt="">
                              <img class="eliminar--hover" width="18" [ngClass]="'lazyload'" data-src="./assets/images/iconos/Eliminar-producto-hover.png" alt="">
                          </button>
                        </div>
                      </div>
                      <div class="carrito__content__mobile" *ngFor="let compra of carrito.lista">
                        <div class="row">
                          <div class="col-1">
                            <input *ngIf="compra.cantPack === '1'" name="cantidad" aria-label="Cantidad" type="number" min="1" max="999999" (input)="updateValue()" [(ngModel)]="compra.cantidad" value="{{compra.cantidad}}" (keyup)="revisarCantidad($event)">
                            <select *ngIf="compra.cantPack !== '1'" name="cantidad" aria-label="Cantidad" (input)="updateValueDelayed()" [(ngModel)]="compra.cantidad">
                              <option *ngFor="let cant of compra.arrayCants" [ngValue]="cant">{{cant}}</option>
                            </select>
                          </div>
                          <div class="col-2">
                            {{compra.descripcion}}
                          </div>
                          <div class="col-3">
                            <p>${{corregirPrecio(compra.precio)}}</p>
                          </div>
                          <div class="col-4">
                            <p>${{updatePrecio(compra.precio, compra.cantidad)}}</p>
                          </div>
                          <div class="col-5">
                            <button class="eliminar" (click)="removeCompraItem(compra)">
                                <img class="eliminar--initial" width="18" [ngClass]="'lazyload'" data-src="./assets/images/iconos/Eliminar-producto.png" alt="">
                                <img class="eliminar--hover" width="18" [ngClass]="'lazyload'" data-src="./assets/images/iconos/Eliminar-producto-hover.png" alt="">
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row" style="padding: 20px 20px;">
                      <p style="font-weight: 14px;">Los productos que se encuentran en oferta, tienen una validez que se limita a la modalidad de contado efectivo, hasta agotar Stock.</p>
                      <div class="row buscador__general">
                        <div class="col-xs-12 col-md-10">
                          <div class="input-group" style="width: 100%;">
                            <!--span class="input-group-btn">
                              <button class="btn btn-secondary" type="button">AGREGAR</button>
                            </span-->
                            <!--(keyup)="buscarPalabra($event)"-->
                            <input [(ngModel)]="texto_busqueda" (keydown)="enterBusqueda($event)" name="texto_busqueda" aria-label="Texto Busqueda" class="form-control" type="text" placeholder="Buscar más productos para agregar a mi compra">
                            <div class="busqueda" *ngIf="ResultadoBusqueda?.length > 0">
                              <ul>
                                <li *ngFor="let item of ResultadoBusqueda" (click)="cerrarBusqueda(item)">
                                  <img class="busqueda__icono" style="max-width: 100%;" [ngClass]="'lazyload'" [attr.data-src]="item.urlImagen" onerror="this.src='/assets/images/producto/picGenerica.webp'" alt="">
                                  <p class="busqueda__titulo">{{item.titulo}}</p>
                                  <p class="busqueda__subtitulo">{{item.tituloAdicional}}</p>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-12 col-md-2">
                            <button type="button" class="whiteButton" (click)="buscarTexto()">BUSCAR</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-4 show__web">
                    <div class="row carrito__total" [ngClass]="{'borde__animado' : carrito.subtotal < config.montoEnvioGratis, 'envio' : carrito.subtotal >= config.montoEnvioGratis}" style="margin-bottom: 10px; position: relative;">
                      <div style="position: absolute; bottom: 3px; right: 8px; font-size: 0.8em;"><a href="https://sina.leren.com.ar/envios" target="_blank" rel="noopener noreferrer">Conocé más sobre envíos <i class="fa fa-external-link"></i></a></div>
                      <div class="row envio__total" style="font-weight: normal; color: #0579ff;" *ngIf="carrito.subtotal < config.montoEnvioGratis">
                        <p>TE FALTAN $ <strong style="padding-bottom: 3px">{{formatMoney(config.montoEnvioGratis - carrito.subtotal)}}</strong> PARA TENER <strong style="padding-bottom: 3px">ENVÍO SIN CARGO</strong></p>
                      </div>
                      <div class="row envio__total text-center" style="font-weight: normal;" *ngIf="carrito.subtotal >= config.montoEnvioGratis">
                        <p>ENVÍO SIN CARGO &#10004;</p>
                      </div>
                    </div>
                    
                    <div class="row carrito__total">
                      <div class="row envio__total envio__total__confirmar">
                        <p>SUBTOTAL</p>
                        <h2>$ {{updateTotal(carrito.subtotal)}}</h2>
                        <span style="position: absolute; bottom: -27px; right: 20px; font-weight: initial;">{{iva_usuario.includes('NO INCLUYE') ? '+ I.V.A.' : (iva_usuario.includes('INCLUYE') ? 'I.V.A. INCLUIDO' : (iva_usuario.includes('FINAL') ? 'FINAL' : 'SUJETO A SU CONDICIÓN HABITUAL'))}}</span>
                      </div>
                      <button *ngIf="carrito.subtotal > config.montoMinimo && !showAgregado" class="actionButton" (click)="finalizarCompra()">FINALIZAR COMPRA</button>
                      <div *ngIf="carrito.subtotal < config.montoMinimo && !showAgregado">
                        <p style="margin-top: 30px; padding: 0px 30px; color: red;">La compra actual no supera el monto mínimo de $ {{formatMoney(config.montoMinimo)}}</p>
                      </div>
                      <p *ngIf="carrito.subtotal >= config.montoMinimo && carrito.subtotal < config.montoEnvio && !showAgregado" style="margin-top: 15px;">*Envíos únicamente a partir de ${{formatMoney(config.montoEnvio)}}<br>Cualquier consulta contactate con nosotros.</p>
                      <button *ngIf="carrito.subtotal > 0" type="button" class="whiteButton" style="margin-top: 35px; padding: 4px 20px;" (click)="showAgregado = !showAgregado">Es un agregado</button>
                      <div *ngIf="showAgregado" class="div__agregado">
                        <p style="padding-bottom: 10px;">Ingrese el Nro del pedido al que desea agregar los productos del carrito actual:</p>
                        <input class="form-control" type="number" min="1" name="idPedido" aria-label="ID Pedido" id="idPedido" placeholder="Nro del pedido" (keydown)="enterBusquedaAgregado($event)" [(ngModel)]="idPedidoAgregado">
                        <button class="busqueda__agregado" type="button"><i class="fa fa-search" aria-hidden="true" (click)="finalizarCompraAgregado()"></i></button>
                        <p *ngIf="showErrorAgregado" style="padding-top: 10px; color: red; text-align: center;">{{responseErrorAgregado}}</p>
                      </div>
                    </div>
                    <!--div class="row carrito__busqueda">
                      <h3>¿TENÉS UN CUPÓN?</h3>
                      <input type="number" value="1">
                      <button class="whiteButton">ACEPTAR</button>
                    </div-->
                  </div>
                </div>
                <div *ngIf="!config.switchComprasActivo">
                  Debido a la situación actual las compras se encuentran suspendidas temporalmente, puede dirigirse al siguiente enlace para dejar registrados sus datos:
                  <br><br>
                  LINK GOOGLE FORMS
                </div>
              </div>
            </div>
            <div class="tab__item" *ngIf="transaccion.paso === 1">
              <div class="content">
                  <div class="row tab__item__header">
                      <p>Tu código de Cliente es {{facturacion.datos.codigoCliente}}</p>
                      <button (click)="transaccion.cambio(0); checkCarritoInit(0);"> &#60; Atrás</button>
                      <span>{{secciones[transaccion.paso]}}</span>
                    </div>
                  <div class="row">
                  <div class="col-xs-12 col-md-4">
                    <div class="row envio__seccion">
                      <div class="row envio__seccion__header">
                        <p>FORMA DE ENTREGA</p>
                      </div>
                      <div *ngIf="datosCompra.agregado === '0'" class="row">
                        <div *ngIf="carrito.subtotal >= config.montoEnvio" class="col-xs-4 envio__seccion__opcion" (click)="selectedForma('0')">
                          <img [ngClass]="'lazyload'" data-src="./assets/images/iconos/camion.webp" alt="">
                          <p>Envío</p>
                          <input type="radio" id="test1" name="test1" aria-label="Opcion Envio" value="0" [ngModel]="datosCompra.entrega" checked>
                          <label for="test1"></label>
                        </div>
                        <div class="col-xs-4 envio__seccion__opcion" (click)="selectedForma('1')">
                          <img [ngClass]="'lazyload'" data-src="./assets/images/iconos/retiro.webp" alt="">
                          <p>Retiro en tienda</p>
                          <input type="radio" id="test2" name="test2" aria-label="Opcion Retiro en tienda" value="1" [ngModel]="datosCompra.entrega">
                          <label for="test2"></label>
                        </div>
                      </div>
                      <div *ngIf="datosCompra.agregado === '1'" class="row">
                        <div class="envio__seccion__opcion" style="cursor: unset;">
                          <p style="padding: 0px 30px; text-align: left;">Agregado al pedido ID #{{idPedidoAgregado}} realizado el día {{responseSuccessAgregado.fechaPedido}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="row envio__seccion--editable" *ngIf="datosCompra.entrega === '0' && datosCompra.agregado === '0'">
                      <div class="row envio__seccion__header--editable">
                        <p>DATOS DE ENVÍO</p>
                        <button (click)="toggleEditingEnvio()">
                          <img width="20" [ngClass]="'lazyload'" data-src="./assets/images/iconos/lapiz.webp" alt="">
                        </button>
                      </div>
                      <div class="row envio__seccion__content transporte error" *ngIf="!editingEnvio && !datosEnvio_flag">
                        <p>Debes cargar los datos de envio</p>
                      </div>
                      <div class="row envio__seccion__content" *ngIf="!editingEnvio">
                        <p>{{datos_envio.domicilio_direccion}}</p>
                        <p>{{datos_envio.domicilio_ciudad}} ({{datos_envio.domicilio_codigo_postal}})</p>
                        <p>{{entrega.provincia.array[datos_envio.domicilio_provincia]}}</p>
                        <p>{{datos_envio.telefono}}</p>
                        <p>{{datos_envio.cod_transporte ? entrega.transporte.array[datos_envio.cod_transporte] : "Debe seleccionar un medio de transporte"}}</p>
                      </div>
                      <div class="row envio__seccion__content edit" *ngIf="editingEnvio">
                        <div class="form-group row" *ngIf="!cargarTransporte">
                          <label for="example-text-input" class="col-xs-4 col-form-label">
                              Domicilio
                          </label>
                          <div class="col-xs-8">
                            <input class="form-control" type="text" name="calle" aria-label="Domicilio Calle" [(ngModel)]="datos_envio.domicilio_direccion">
                          </div>
                        </div>
                        <div class="form-group row" *ngIf="!cargarTransporte">
                          <label for="example-text-input" class="col-xs-4 col-form-label">
                              Localidad
                          </label>
                          <div class="col-xs-8">
                            <input class="form-control" type="text" name="localidad" aria-label="Domicilio Localidad" [(ngModel)]="datos_envio.domicilio_ciudad">
                          </div>
                        </div>
                        <div class="form-group row" *ngIf="!cargarTransporte">
                          <label for="example-text-input" class="col-xs-4 col-form-label">
                              Código Postal
                          </label>
                          <div class="col-xs-8">
                            <input class="form-control" type="text" maxlength="8" name="cod_postal" aria-label="Domicilio Codigo Postal" [(ngModel)]="datos_envio.domicilio_codigo_postal">
                          </div>
                        </div>
                        <div class="form-group row" *ngIf="!cargarTransporte">
                          <label for="example-text-input" class="col-xs-4 col-form-label">
                              Provincia
                          </label>
                          <div class="col-xs-8">
                            <ng-select #provincia style="height: 32px; margin: 6px 0px;"
                              [clearable]="true"
                              (change)="refreshProvincia($event)"
                              ng-model="datos_envio.domicilio_provincia"
                              placeholder="Provincia">
                              <ng-option *ngFor="let p of entrega.provincia.lista" [value]="p.id">
                                {{p.text}}
                              </ng-option>
                            </ng-select>
                          </div>
                        </div>
                        <div class="form-group row" *ngIf="!cargarTransporte">
                          <label for="example-text-input" class="col-xs-4 col-form-label">
                              Telefono
                          </label>
                          <div class="col-xs-8">
                            <input class="form-control" type="text" name="telefono" aria-label="Telefono" [(ngModel)]="datos_envio.telefono">
                          </div>
                        </div>
                        <div class="form-group row" *ngIf="!cargarTransporte && false">
                          <label for="example-text-input" class="col-xs-4 col-form-label">
                              Días de entrega
                          </label>
                          <div class="col-xs-8" style="padding-top: 6px;">
                              <div class="emergencia">
                                  Lunes
                                  <input type="checkbox" [(ngModel)]="isChecked.entrega_lunes" aria-label="Check Lunes">
                                  <span class="checkmark" (click)="clicked('entrega_lunes')"></span>
                              </div>
                              <div class="emergencia">
                                  Martes
                                  <input type="checkbox" [(ngModel)]="isChecked.entrega_martes" aria-label="Check Martes">
                                  <span class="checkmark" (click)="clicked('entrega_martes')"></span>
                              </div>
                              <div class="emergencia">
                                  Miércoles
                                  <input type="checkbox" [(ngModel)]="isChecked.entrega_miercoles" aria-label="Check Miercoles">
                                  <span class="checkmark" (click)="clicked('entrega_miercoles')"></span>
                              </div>
                              <div class="emergencia">
                                  Jueves
                                  <input type="checkbox" [(ngModel)]="isChecked.entrega_jueves" aria-label="Check Jueves">
                                  <span class="checkmark" (click)="clicked('entrega_jueves')"></span>
                              </div>
                              <div class="emergencia">
                                  Viernes
                                  <input type="checkbox" [(ngModel)]="isChecked.entrega_viernes" aria-label="Check Viernes">
                                  <span class="checkmark" (click)="clicked('entrega_viernes')"></span>
                              </div>
                              <div class="emergencia">
                                  Sábado
                                  <input type="checkbox" [(ngModel)]="isChecked.entrega_sabado" aria-label="Check Sabado">
                                  <span class="checkmark" (click)="clicked('entrega_sabado')"></span>
                              </div>
                          </div>
                        </div>
                        <div class="form-group row" *ngIf="!cargarTransporte  && false">
                          <label for="example-text-input" class="col-xs-4 col-form-label">
                              Horarios
                          </label>
                          <div class="col-xs-8">
                            <input class="form-control" type="text" name="horario" aria-label="Horario Entrega" [(ngModel)]="datos_envio.horario_entrega">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="example-text-input" class="col-xs-4 col-form-label">
                              Transporte
                          </label>
                          <div class="col-xs-8">
                            <ng-select #transporte style="height: 32px; margin: 6px 0px;"
                              [clearable]="true"
                              (change)="refreshTransporte($event)"
                              ng-model="datos_envio.cod_transporte"
                              placeholder="Medio de transporte">
                              <ng-option *ngFor="let t of entrega.transporte.lista" [value]="t.id">
                                {{t.text}}
                              </ng-option>
                            </ng-select>
                          </div>
                        </div>
                        <div class="form-group row" *ngIf="cargarTransporte">
                          <label for="example-text-input" class="col-xs-4 col-form-label">
                              Nombre
                          </label>
                          <div class="col-xs-8">
                            <input class="form-control" type="text" [(ngModel)]="datostransporte.form.nombreTransporte" aria-label="Nombre Transporte">
                          </div>
                        </div>
                        <div class="form-group row" *ngIf="cargarTransporte">
                          <label for="example-text-input" class="col-xs-4 col-form-label">
                              Teléfono
                          </label>
                          <div class="col-xs-8">
                            <input class="form-control" type="text" [(ngModel)]="datostransporte.form.telefonoTransporte" aria-label="Telefono Transporte">
                          </div>
                        </div>
                        <div class="form-group row" *ngIf="cargarTransporte">
                          <label for="example-text-input" class="col-xs-4 col-form-label">
                              Dirección en Buenos Aires
                          </label>
                          <div class="col-xs-8">
                            <input class="form-control" type="text" [(ngModel)]="datostransporte.form.domicilioTransporte" aria-label="Domicilio Transporte">
                          </div>
                        </div>
                        <div class="row" *ngIf="datos_envio_error !== ''">
                          <p style="color: red;">{{datos_envio_error}}</p>
                        </div>
                        <div class="row" style="text-align:right; padding: 15px;">
                          <button class="whiteButton" (click)="addTransporte()">{{cargarTransporte ? "CONFIRMAR TRANSPORTE" : "GUARDAR"}}</button>
                        </div>
                      </div>
                      <div class="row envio__seccion__content"><p><i>Importante: Los días y horarios de entrega serán programados según el recorrido logístico, pudiendo sufrir modificaciones.</i></p></div>
                    </div>
                    <div class="row envio__seccion" *ngIf="datosCompra.entrega === '1' && datosCompra.agregado === '0'">
                      <div class="row envio__seccion__header">
                        <p>DATOS DEL RETIRO</p>
                      </div>
                      <div class="row envio__seccion__content retiro" style="width: 100%;
                          margin: 0;
                          padding: 0 5px;">
                          <p style="font-weight: bold; font-size: 15px; padding-bottom: 10px;">Día y horario</p>
                          <div class="form-group">
                            <div class="horario" style="width: 234px;">
                              <input [ngModel]="retiroHora | date:'yyyy-MM-dd'" (ngModelChange)="fechaUpdate($event)" type="date" [min]="hoyFormatted" name="retiroHora" aria-label="Fecha Retiro" onkeydown="return false"/>
                            </div>
                            <br>
                            <div class="horario">
                              <div class="col__1"><p style="font-size: 14px; text-align: left;">Hora</p></div>
                              <div class="col__2" style="padding-left: 0px;">
                                <input [ngModel]="inputHora" (ngModelChange)="fechaUpdate1($event)" name="retiroHora1" type="number" min="0" max="23" aria-label="Hora Retiro"/>
                              </div>
                              <br>
                              <div class="col__1"><p style="font-size: 14px; text-align: left;">Minutos</p></div>
                              <div class="col__2" style="padding-right: 0px;">
                                <!-- <input [ngModel]="inputMinuto" (ngModelChange)="fechaUpdate2($event)" name="retiroHora2"/> -->
                                <div class="btn-group" role="group" aria-label="Minutos">
                                  <button type="button" class="btn btn-minuto" [ngClass]="{'selected' : inputMinuto === '00'}" (click)="fechaUpdate2('00')" name="retiroHora2">00</button>
                                  <button type="button" class="btn btn-minuto" [ngClass]="{'selected' : inputMinuto === '15'}" (click)="fechaUpdate2('15')" name="retiroHora3">15</button>
                                  <button type="button" class="btn btn-minuto" [ngClass]="{'selected' : inputMinuto === '30'}" (click)="fechaUpdate2('30')" name="retiroHora4">30</button>
                                  <button type="button" class="btn btn-minuto" [ngClass]="{'selected' : inputMinuto === '45'}" (click)="fechaUpdate2('45')" name="retiroHora5">45</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-group row" style="margin: 0px; width: 234px; border: 1px solid black;">
                            <p tabindex="1" #mensaje_error_retiro style="color: red; margin: 10px; font-weight: bold;" *ngIf="flagHoraPasada">La fecha/horario seleccionados ya pasaron!</p>
                            <p tabindex="1" #mensaje_error_retiro style="color: red; margin: 10px; font-weight: bold;" *ngIf="dia === 'Domingo'">No es posible el retiro los días Domingo</p>
                            <p tabindex="1" #mensaje_error_retiro style="color: red; margin: 10px; font-weight: bold;" *ngIf="!retiro && dia === 'Sábado'">Sábados: horario de retiro es de 08 a 12hs</p>
                            <p tabindex="1" #mensaje_error_retiro style="color: red; margin: 10px; font-weight: bold;" *ngIf="!retiro && dia !== 'Domingo' && dia !== 'Sábado'">Lunes a Viernes: horario de retiro es de 08 a 12hs y de 14 a 17hs.<br>Sábados: horario de retiro es de 08 a 12hs</p>
                            <p style="color: #00c973; margin: 10px; font-weight: bold;" *ngIf="retiro && dia !== 'Domingo'">Retirás: {{dia}} {{inputFecha}} a las {{inputHora}}:{{inputMinuto}} hrs</p>
                          </div>
                          <p style="font-weight: bold; font-size: 14px; padding-top: 10px; padding-bottom: 10px;">Dirección</p>
                          <div class="form-group row">
                            <div class="col-xs-12">
                              <p class="mapa__container"><a href="https://g.page/Sina-messina-hnos?share" target="_blank" rel="noopener noreferrer">Madres de plaza de Mayo 949 (1878), Quilmes.</a>
                              <a>
                                <div class="mapa__content" *ngIf="mapa">
                                    <span (click)="mapa = !mapa">x</span>
                                    <iframe [ngClass]="'lazyload'" data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3278.7818186963987!2d-58.267091685238306!3d-34.735893572009736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a32e6449263693%3A0x2487ca7b31b60673!2sMessina+Hnos+S.A.!5e0!3m2!1sen!2sar!4v1527709856965" width="480" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div>
                                <p style="cursor: pointer;" (click)="mapa = !mapa">Ver Mapa</p>
                              </a>
                            </p>
                            </div>
                          </div>
                      </div>
                    </div>

                  </div>
                  <div class="col-xs-12 col-md-4">
                    <div class="row envio__seccion--editable">
                      <div class="row envio__seccion__header--editable">
                        <p>DATOS DE FACTURACIÓN</p>
                        <!--button (click)="editingFacturacion = !editingFacturacion">
                          <img width="20" src="./assets/images/iconos/lapiz.webp" alt="">
                        </button-->
                      </div>
                      <div class="row envio__seccion__content" *ngIf="!editingFacturacion">
                        <p>Nombre o Razón Social: {{facturacion.datos.razon_social || facturacion.datos.nombre_fantasia}}</p>
                        <p>CUIT/DNI: {{facturacion.datos.cuit}}</p>
                        <p>Cat. I.V.A.: {{facturacion.datos.categoria_iva}}</p>
                        <!-- <p>Dirección: {{facturacion.datos.domicilio_direccion}}</p> -->
                        <!-- <p>Localidad: {{facturacion.datos.domicilio_ciudad}} ({{facturacion.datos.domicilio_codigo_postal}})</p> -->
                        <!-- <p>Provincia: {{entrega.provincia.array[facturacion.datos.domicilio_provincia]}}</p> -->
                        <!-- <p>Email: {{facturacion.datos.email}}</p> -->
                        <!-- <p>Teléfono: {{facturacion.datos.telefono}}</p> -->
                      </div>
                      <div class="row envio__seccion__content edit" *ngIf="editingFacturacion">
                        <div class="form-group row">
                          <label for="example-text-input" class="col-xs-4 col-form-label">
                              Razón social
                          </label>
                          <div class="col-xs-8">
                            <input class="form-control" type="text" [(ngModel)]="facturacion.datos.razon_social" aria-label="Razon Social">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="example-text-input" class="col-xs-4 col-form-label">
                              Nombre comercial
                          </label>
                          <div class="col-xs-8">
                            <input class="form-control" type="text" [(ngModel)]="facturacion.datos.nombre_fantasia" aria-label="Nombre Comercial">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="example-text-input" class="col-xs-4 col-form-label">
                              CAT. IVA.
                          </label>
                          <div class="col-xs-8">
                            <input class="form-control" type="text" [(ngModel)]="facturacion.datos.cod_categoria_iva" aria-label="Categoria IVA">
                            </div>
                        </div>
                        <div class="form-group row">
                          <label for="example-text-input" class="col-xs-4 col-form-label">
                              Responsable compra
                          </label>
                          <div class="col-xs-8">
                            <input class="form-control" type="text" [(ngModel)]="facturacion.datos.nombre_responsable_compras" aria-label="Nombre Responsable Compras">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="example-text-input" class="col-xs-4 col-form-label">
                              Responsable facturacion
                          </label>
                          <div class="col-xs-8">
                            <input class="form-control" type="text" [(ngModel)]="facturacion.datos.facturacion_nombre_responsable" aria-label="Nombre Responsable Facturacion">
                          </div>
                        </div>
                        <!--div class="form-group row">
                          <label for="example-text-input" class="col-xs-4 col-form-label">
                              {{facturacion.datos.cod_categoria_iva === "Consumidor Final" ? "DNI" : "CUIT"}}
                          </label>
                          <div class="col-xs-8">
                            <input class="form-control" type="text" [(ngModel)]="facturacion.datos.cod_categoria_iva">
                            <img width="20" src="./assets/images/iconos/lapiz.webp" alt="">
                          </div>
                        </div-->
                        <div class="form-group row">
                          <label for="example-text-input" class="col-xs-4 col-form-label">
                              Dirección
                          </label>
                          <div class="col-xs-8">
                            <input class="form-control" type="text" [(ngModel)]="facturacion.datos.domicilio_direccion" aria-label="Domicilio Facturacion Calle">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="example-text-input" class="col-xs-4 col-form-label">
                              Localidad
                          </label>
                          <div class="col-xs-8">
                            <input class="form-control" type="text" [(ngModel)]="facturacion.datos.domicilio_ciudad" aria-label="Domicilio Facturacion Localidad">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="example-text-input" class="col-xs-4 col-form-label">
                              Código Postal
                          </label>
                          <div class="col-xs-8">
                            <input class="form-control" type="text" maxlength="8" [(ngModel)]="facturacion.datos.cod_postal" aria-label="Domicilio Facturacion Codigo Postal">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="example-text-input" class="col-xs-4 col-form-label">
                              Provincia
                          </label>
                          <div class="col-xs-8">
                            <input class="form-control" type="text" [(ngModel)]="facturacion.datos.domicilio_provincia" aria-label="Domicilio Facturacion Provincia">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="example-text-input" class="col-xs-4 col-form-label">
                              Email Fact.
                          </label>
                          <div class="col-xs-8">
                            <input class="form-control" type="text" [(ngModel)]="facturacion.datos.facturacion_email" aria-label="Facturacion Email">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="example-text-input" class="col-xs-4 col-form-label">
                            Tel. Fact.
                          </label>
                          <div class="col-xs-8">
                            <input class="form-control" type="text" [(ngModel)]="facturacion.datos.facturacion_telefono" aria-label="Facturacion Telefono">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="example-text-input" class="col-xs-4 col-form-label">
                              Telefono
                          </label>
                          <div class="col-xs-8">
                            <input class="form-control" type="text" [(ngModel)]="facturacion.datos.telefono" aria-label="Telefono">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="example-text-input" class="col-xs-4 col-form-label">
                              Telefono Alternativo
                          </label>
                          <div class="col-xs-8">
                            <input class="form-control" type="text" [(ngModel)]="facturacion.datos.telefono_celular" aria-label="Telefono Alternativo">
                          </div>
                        </div>
                        <div class="row" style="text-align:right; padding: 15px;">
                          <button (click)="facturacion.update()" class="whiteButton">GUARDAR</button>
                        </div>
                      </div>
                    </div>
                    <div class="row envio__seccion">
                      <div class="row envio__seccion__header">
                        <p>OBSERVACIONES</p>
                      </div>
                      <div class="row envio__seccion__content">
                        <div class="form-group row">
                          <div class="col-xs-12" style="margin-left: -15px;">
                              <textarea [(ngModel)]="observaciones" class="form-control" id="exampleTextarea" rows="3" aria-label="Observaciones"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-4">
                    <div class="row carrito__titulo">
                      <p>RESUMEN DE TU PEDIDO</p>
                    </div>

                    <div class="row envio">
                      <div class="row envio__total">
                          <p style="padding-bottom: 10px;">SUBTOTAL</p>
                          <h2>$ {{updateTotal(carrito.subtotal)}}</h2>
                          <span style="position: absolute; bottom: -30px; right: 0px; font-weight: initial;">{{iva_usuario.includes('NO INCLUYE') ? '+ I.V.A.' : (iva_usuario.includes('INCLUYE') ? 'I.V.A. INCLUIDO' : (iva_usuario.includes('FINAL') ? 'FINAL' : 'SUJETO A SU CONDICIÓN HABITUAL'))}}</span>
                      </div>
					            <div class="row envio__total" style="font-weight: normal; padding-top: 0px;" *ngIf="carrito.subtotal >= config.montoEnvioGratis && datosCompra.entrega === '0'">
                          <p style="padding-top: 22px;">ENVÍO</p>
                          <h3 style="font-size: 16px; font-weight: normal;">$ 0,00</h3>
                      </div>
					            <div class="row envio__total" style="font-weight: normal; padding-top: 0px;" *ngIf="carrito.subtotal > config.montoMinimo && carrito.subtotal < config.montoEnvioGratis && datosCompra.entrega === '0'">
                          <p style="padding-top: 22px;">ENVÍO</p>
                          <h3 style="font-size: 16px; font-weight: normal;">$ {{config.costoEnvio}}</h3>
                      </div>

					  <div class="row envio__total" *ngIf="datosCompra.entrega === '1'">
						<img [ngClass]="'lazyload'" data-src="./assets/images/iconos/retiro.webp" alt="" style="height: 50px; margin-right: 10px;">
						<p>Retiro en tienda</p>
					  </div>
                        <div class="row envio__confirm" style="margin-bottom: 15px;">
                        <button class="actionButton" [ngClass]="{'deshabilitado': carritoLoading}" (click)="completarCompra()">COMPLETAR COMPRA</button>
                        <div *ngIf="datosCompra.agregado === '0' && datosCompra.entrega === '1' && (flagHoraPasada || dia === 'Domingo' || !retiro)">
                          <p style="color: red;">Error en el horario de retiro seleccionado</p>
                        </div>
                        <div [ngClass]="{textoVerde: pedidoCorrecto == true, textoRojo: pedidoCorrecto != true}">
                          <p> {{completarCompraTexto}}</p>
                        </div>
                      </div>
                      <div class="row envio__header">
                        <div class="col-1">
                          <p>Cant.</p>
                        </div>
                        <div class="col-5">
                          <p>Artículo</p>
                        </div>
                        <div class="col-4">
                          <p>Subtotal</p>
                        </div>
                      </div>
                      <div class="row envio__content" *ngFor="let compra of carrito.lista">
                        <div class="col-1">
                          <p>{{compra.cantidad}}</p>
                        </div>
                        <div class="col-5">
                          <p style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">{{compra.descripcion}}</p>
                        </div>
                        <div class="col-4">
                          <p>${{updatePrecio(compra.precio, compra.cantidad)}}</p>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab__item" *ngIf="transaccion.paso === 2">
                <div class="content">
                    <div class="row tab__item__header">
                        <p>Tu código de Cliente es {{facturacion.datos.codigoCliente}}</p>
                        <span>{{secciones[transaccion.paso]}}</span>
                      </div>
                    <div class="row">
                      <div class="cuadro">
                        <h1>¡MUCHAS GRACIAS POR SU PEDIDO!</h1>
                        <p>{{completarCompraTexto}}</p>
                        <a href="{{completarCompraLink}}" *ngIf="completarCompraLink" target="_blank" rel="noopener noreferrer">
                          <button class="actionButton">IMPRIMIR PEDIDO</button>
                        </a>
                        <img [ngClass]="'lazyload'" data-src="./assets/images/header/logo_mobile_azul.webp" alt="">
                      </div>
                    </div>
                    <div class="row confirmacion">
                      <div class="col-xs-12 col-md-3">
                        <div class="row envio__seccion__header">
                          <p style="padding: 0px 15px;">FORMA DE ENTREGA</p>
                        </div>
                        <div *ngIf="datosCompra.agregado === '0'" class="row">
                          <div class="envio__seccion__opcion" *ngIf="datosCompra.entrega === '0'">
                            <img [ngClass]="'lazyload'" data-src="./assets/images/iconos/camion.webp" alt="">
                            <p>Envío</p>
                          </div>
                          <div class="envio__seccion__opcion" *ngIf="datosCompra.entrega === '1'">
                            <img [ngClass]="'lazyload'" data-src="./assets/images/iconos/retiro.webp" alt="">
                            <p>Retiro en tienda</p>
                          </div>
                        </div>
                        <div *ngIf="datosCompra.agregado === '1'">
                          <p style="padding: 0px 20px;">Agregado al pedido ID #{{idPedidoAgregado}}</p>
                        </div>
                      </div>
                      <div class="col-xs-12 col-md-3 envio__seccion--editable">
                        <div class="row envio__seccion__header--editable">
                          <p>DATOS DE ENVÍO</p>
                        </div>
                        <div class="row envio__seccion__content">
                          <p>{{datos_envio.domicilio_direccion}}</p>
                          <p>{{datos_envio.domicilio_ciudad}} ({{datos_envio.domicilio_codigo_postal}})</p>
                          <p>{{entrega.provincia.array[datos_envio.domicilio_provincia]}}</p>
                          <p>{{datos_envio.telefono}}</p>
                          <p>{{datos_envio.cod_transporte ? entrega.transporte.array[datos_envio.cod_transporte] : "Debe seleccionar un medio de transporte"}}</p>
                        </div>
                      </div>
                      <div class="col-xs-12 col-md-3 envio__seccion--editable">
                        <div class="row envio__seccion__header--editable">
                          <p>DATOS DE FACTURACIÓN</p>
                        </div>
                        <div class="row envio__seccion__content">
                          <p>Razón Social: {{facturacion.datos.razon_social}}</p>
                          <p>Nombre comercial: {{facturacion.datos.nombre_fantasia}}</p>
                          <p>Categoría IVA: {{facturacion.datos.cod_categoria_iva}}</p>
                          <p>Telefono: {{facturacion.datos.telefono}}</p>
                          <p>Telefono alternativo: {{facturacion.datos.telefono_celular}}</p>
                          <p>Nombre responsable de compras: {{facturacion.datos.nombre_responsable_compras}}</p>
                          <p>Nombre responsable de facturación: {{facturacion.datos.facturacion_nombre_responsable}}</p>
                          <p>Email de facturación: {{facturacion.datos.facturacion_email}}</p>
                          <p>Telefono de facturación: {{facturacion.datos.facturacion_telefono}}</p>
                          <p>Dirección: {{facturacion.datos.domicilio_direccion}}</p>
                          <p>Ciudad: {{facturacion.datos.domicilio_ciudad}} CP: {{facturacion.datos.domicilio_codigo_postal}}</p>
                          <p>Provincia: {{entrega.provincia.array[facturacion.datos.domicilio_provincia]}}</p>
                        </div>
                      </div>
                      <div class="col-xs-12 col-md-3">
                        <div class="row envio" style="margin-left: 0px; margin-right: 0px;">
                          <div class="row envio__total">
                              <p>TOTAL</p>
                              <h3>$ {{formatMoney(total)}}</h3>
                              <span style="position: absolute; bottom: -20px; right: 0px; font-weight: initial;">{{iva_usuario.includes('NO INCLUYE') ? '+ I.V.A.' : (iva_usuario.includes('INCLUYE') ? 'I.V.A. INCLUIDO' : (iva_usuario.includes('FINAL') ? 'FINAL' : 'SUJETO A SU CONDICIÓN HABITUAL'))}}</span>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="row volver">
                    <a href="{{completarCompraLink}}" *ngIf="completarCompraLink" target="_blank" rel="noopener noreferrer" style="margin-right: -5px;">
                      <button class="whiteButton">IMPRIMIR</button>
                    </a>
                  </div>
              </div>
            </div>
        </div>
      </div>
      <br>
      <div *ngIf="config.switchComprasActivo">
        <p class="iva__custom__border">{{iva_usuario}}</p>
      </div>
      <br>
    </div>
  </div>
</div>



<app-loading *ngIf="modalLoading" ></app-loading>
