<div class="container">
  <h1 class="title">Productos de limpieza por mayor, fabrica de productos de limpieza</h1>
</div>
<div class="container">
  <div class="bannercategoria left">
    <a routerLink="/Limpieza">
      <img [ngClass]="'lazyload'" data-src="https://apisina.leren.com.ar/storage/images/web_bnncategoria-limpieza.webp" alt="Limpieza">
    </a>
  </div>
  <div class="bannercategoria right">
    <a routerLink="/Bazar">
      <img [ngClass]="'lazyload'" data-src="https://apisina.leren.com.ar/storage/images/web_bnncategoria-bazar.webp" alt="Bazar">
    </a>
  </div>
  <div class="bannercategoria left">
    <a routerLink="/Textil">
      <img [ngClass]="'lazyload'" data-src="https://apisina.leren.com.ar/storage/images/web_bnncategoria-textil.webp" alt="Textil">
    </a>
  </div>
  <div class="bannercategoria right">
    <a routerLink="/Liquidos">
      <img [ngClass]="'lazyload'" data-src="https://apisina.leren.com.ar/storage/images/web_bnncategoria-liquidos.webp" alt="Liquidos">
    </a>
  </div>
  <div class="bannercategoria left">
    <a routerLink="/Jardin y riego">
      <img [ngClass]="'lazyload'" data-src="https://apisina.leren.com.ar/storage/images/web_bnncategoria-jardinyriego.webp" alt="Jardin y riego">
    </a>
  </div>
  <div class="bannercategoria right">
    <a routerLink="/Profesional">
      <img [ngClass]="'lazyload'" data-src="https://apisina.leren.com.ar/storage/images/web_bnncategoria-profesional.webp" alt="Profesional">
    </a>
  </div>
  <div class="bannercategoria left">
    <a routerLink="/Mas productos">
      <img [ngClass]="'lazyload'" data-src="https://apisina.leren.com.ar/storage/images/web_bnncategoria-+productos.webp" alt="Mas productos">
    </a>
  </div>
</div>