<div class="container">
  <h1 class="title">Productos de limpieza por mayor, fabrica de productos de limpieza</h1>
</div>
<div class="container">
  <div class="bannercategoria left">
    <a routerLink="/Limpieza">
      <img [ngClass]="'lazyload'" data-src="./assets/images/categorias/slider-sorteo-dia-del-reciclado.jpg" alt="Limpieza">
    </a>
  </div>
  <div class="bannercategoria center">
    <a routerLink="/Bazar">
      <img [ngClass]="'lazyload'" data-src="./assets/images/categorias/slider-sorteo-dia-del-reciclado.jpg" alt="Bazar">
    </a>
  </div>
  <div class="bannercategoria left">
    <a routerLink="/Textil">
      <img [ngClass]="'lazyload'" data-src="./assets/images/categorias/slider-sorteo-dia-del-reciclado.jpg" alt="Textil">
    </a>
  </div>
  <div class="bannercategoria center">
    <a routerLink="/Liquidos">
      <img [ngClass]="'lazyload'" data-src="./assets/images/categorias/slider-sorteo-dia-del-reciclado.jpg" alt="Liquidos">
    </a>
  </div>
  <div class="bannercategoria left">
    <a routerLink="/Jardin y riego">
      <img [ngClass]="'lazyload'" data-src="./assets/images/categorias/slider-sorteo-dia-del-reciclado.jpg" alt="Jardin y riego">
    </a>
  </div>
  <div class="bannercategoria center">
    <a routerLink="/Profesional">
      <img [ngClass]="'lazyload'" data-src="./assets/images/categorias/slider-sorteo-dia-del-reciclado.jpg" alt="Profesional">
    </a>
  </div>
  <div class="bannercategoria left">
    <a routerLink="/Mas productos">
      <img [ngClass]="'lazyload'" data-src="./assets/images/categorias/slider-sorteo-dia-del-reciclado.jpg" alt="Mas productos">
    </a>
  </div>
</div>