<div class="row message">
    <div class="container">
        <ngb-alert *ngIf="successMessage" (click)="alertClicked()" type="success" (close)="alertClicked();">
            <i class="fa fa-check-circle fa-3x" aria-hidden="true"></i> {{ successMessage }}
            <button class="actionButton transparentButton" [routerLink]="['/compra/carrito']">VER TODOS</button>
        </ngb-alert>
    </div>
</div>
<div class="container">
    <h1 class="title">Artículos de limpieza por mayor, artículos de bazar</h1>
</div>
<div class="carouselContainer">
    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    <div class="imageContainer" *ngFor="let item of imageSources; let $index = index">
        <a *ngIf="item.link" [href]="item.link">
            <img [src]="item.imagen" alt="item" [ngClass]="$index === carousel__item ? 'activeItem' : 'notActiveItem'" style="width: 100%;">
        </a>
        <img *ngIf="!item.link" [src]="item.imagen" alt="item" [ngClass]="$index === carousel__item ? 'activeItem' : 'notActiveItem'" style="width: 100%;">
    </div>
    <div class="imageSelector">
        <div class="container">
            <div  *ngFor="let item of imageSources; let $index = index" (click)="carousel__item = $index">
                <div class="imageContainerItem" [ngClass]="{'active': $index === carousel__item}"></div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="resultado row" style="margin: 50px 0px;" *ngFor="let row of listaResultados">
        <div class="col-xs-6 col-md-15">
            <div class="resultado__head">
                <div class="img" [ngStyle]="{'background-image': 'url(' + row.head.imagen + ')'}"></div>
                <!-- <p>{{row.head.texto}}</p> -->
                <a routerLink="{{row.head.filter}}">
                    <button>VER TODOS</button>
                </a>
            </div>
        </div>
        <div class="resultado__item col-xs-6 col-md-15" *ngFor="let item of row.lista">
            <app-producto-item [item]="item" [sesion]="loginStatus" [mensaje]="_success"></app-producto-item>
        </div>
    </div>
</div>
<div class="container">
    <div class="banner_final row">
        <a routerLink="preguntas-frecuentes">
            <img [ngClass]="'lazyload'" data-src="https://apisina.leren.com.ar/storage/images/banners%20web-02.webp" alt="Preguntas frecuentes" title="Preguntas frecuentes" />
        </a>
        <a routerLink="envios">
            <img [ngClass]="'lazyload'" data-src="https://apisina.leren.com.ar/storage/images/banners%20web-03.webp" alt="Envíos" title="Envíos" />
        </a>
        <a (click)="registrar()">
            <img [ngClass]="'lazyload'" data-src="https://apisina.leren.com.ar/storage/images/banners%20web-04.webp" alt="Registrarse" title="Registrarse" />
        </a>

        <a (click)="descargarLista()">
            <div id="div1"><img id="rel1" [ngClass]="'lazyload'" data-src="https://apisina.leren.com.ar/storage/images/banners%20web-01.webp" alt="Descargar lista de precios" title="Descargar lista de precios"/>
                <div id="loaderFile" style="display: none; position: relative; left: calc(50% - 20px); margin-top: 10px; max-width: 40px;">
                    <img id="rel2" [ngClass]="'lazyload'" data-src="./assets/images/loader/ajax-loader.gif" height="40" width="50"/>
                </div>
                <div id="loaderFileMsg" style="display: none; position: relative; margin-top: 10px;">Generando archivo Por favor espere...</div>
            </div>
        </a>

    </div>
    <div class="row" style="padding: 15px;">
        <p class="iva__custom__border">{{iva_usuario}}</p>
    </div>
</div>
<div class="row nuevocliente" *ngIf="!data.statusLogin">
    <div class="container">
        <div class="contain">
            <h1>Nuevo Cliente</h1>
            <p>Compra más rápido y seguro.</p>
            <p>Sólo tenés que completar la solicitud de alta.</p>
            <p  *ngIf="!UserLog">
                <button class="whiteButton" type="button" (click)="registrar()" >REGISTRATE</button>
                <!-- PREVIO
                <button class="actionButton"> {{"Registrarse"}} </button>
                -->
            </p>
        </div>
    </div>
</div>
